.c-select-wrapper {
    position: relative;
    padding: 15px 15px 15px 0px;
    cursor: pointer;

    .selected {
        span:first-child {
         /*   color: #cbd1d4;  */  
        }

        span:last-child {
            float: right;
            -moz-transition: transform 0.6s ease;
            -webkit-transition: transform 0.6s ease;
            -o-transition: transform 0.6s ease;
            transition: transform 0.6s ease;

            &.inverted {
                transform:rotate(180deg);
                -ms-transform:rotate(180deg); /* IE 9 */
                -webkit-transform:rotate(180deg); /* Opera, Chrome, and Safari */
            }
        }
    }

    .c-options-wrapper {
        position: absolute;
        left: 0;
        right: 0;
        border: 1px solid #d4d6df;
        margin-top: 15px; /* margin-top should be equal to padding-bottom of .c-select-wrapper */
        display: none;
        background-color: #ffffff;
        z-index: 100;

        ul {
            width: 100%;
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                color: #16191f;
                max-width: 100%;
                padding: 15px 0 15px 10px;

                &:not(:last-child) {
                    border-bottom: 1px solid #d4d6df;
                }

                &.active {
                    color: #fe5435;
                }

                &:hover {
                    color: #fe5435;
                }
            }
        }
    }
}