// @import "sprite"; //FIXME: realy ?
@import "dropzone";
@import "switchbutton";
// @import "trip_sprites";
@import "tooltipster";
@import "pnotify_custom";
// @import "sprite_sheet";
@import "roadmojo_sprites";
@import "landing_sprites";

@import "custom_dropdown";
@import "main";

// basic colors
$dark-color: black;

/*Black*/
$light-color-1: #b1b6b9;

/*Light Grey*/
$light-color-2: #8c8e92;

/*Dark Grey*/
$links-color: #00ac66;

//
$links-color-error: #a95b5b;

/*Green*/
$nav-color: #f2472e;

/*Orange*/
$border-color: #eef0f1;

/*Grey*/
$red-color: #ff3100;

/* twitter  */
$twitter-color: #00ace2;
$twitter-btn-color: #55ACEE;

/* facebook color */
$facebook-color: #2e5b9b;

/* search page colors */
$search-list-light: #7a7a7a;
// modals
$login-modal-social-bg: #e7e9eb;
$login-modal-helptext: #8c8e92;
$login-modal-bg: #f7f8fa;
// modal social connections button
$facebook-btn-bg: #3d5a95;
$twitter-btn-bg: #32aadc;
$gplus-btn-bg: #df4a32;

// section colors
$section-bg-grey: #f9f9f9;

// fonts
$font-base: "proxima-nova", Arial, sans-serif;
$font-lg: "freight-sans-pro", sans-serif;
$font-normal: "arial";

/* form padding gutter */
$form-padding-gutter: rem-calc(32);

// label child
$label-child-margin-top: rem-calc(10);

// error color
$error: #f04124;

// trip-section border color
$trip-section-border-btm-cl: #ededed;
%inherit {
	font: {
		family: inherit;
		size: inherit;
		weight: inherit;
	}
	line-height: inherit;
	color: inherit;
	border-width: 0;
	height: inherit;
	background-color: inherit;
	&:focus {
        // border-width: 3px;
        background-color: inherit;
    }
}

// Mixins
@mixin border-radius($radius) {
	-webkit-border-radius: rem-calc($radius);
	-moz-border-radius: rem-calc($radius);
	-ms-border-radius: rem-calc($radius);
	border-radius: rem-calc($radius);
}
@mixin placeholder-padding($top, $right, $bottom, $left) {
	&::-webkit-input-placeholder {
		padding: {
			top: rem-calc($top);
			right: rem-calc($right);
			bottom: rem-calc($bottom);
			left: rem-calc($left);
		};
	}
	&:-moz-placeholder {
		padding: {
			top: rem-calc($top);
			right: rem-calc($right);
			bottom: rem-calc($bottom);
			left: rem-calc($left);
		};
	}
	&::-moz-placeholder {
		padding: {
			top: rem-calc($top);
			right: rem-calc($right);
			bottom: rem-calc($bottom);
			left: rem-calc($left);
		};
	}
	&:-ms-input-placeholder {
		padding: {
			top: rem-calc($top);
			right: rem-calc($right);
			bottom: rem-calc($bottom);
			left: rem-calc($left);
		};
	}
}

@mixin placeholder-style($font, $font-size, $color, $bg) {
	&::-webkit-input-placeholder {
		font-family: $font;
		font-size: rem-calc($font-size);
		color: $color;
		background-color: $bg;
	}
	&:-moz-placeholder {
        /* Firefox 18- */
        font-family: $font;
        font-size: rem-calc($font-size);
        color: $color;
        @if not $bg {

        } @else {
        	background-color: $bg;
        }
    }
    &::-moz-placeholder {
        /* Firefox 19+ */
        font-family: $font;
        font-size: rem-calc($font-size);
        color: $color;
        @if not $bg {

        } @else {
        	background-color: $bg;
        }
    }
    &:-ms-input-placeholder {

    	font-family: $font;
    	font-size: rem-calc($font-size);
    	color: $color;
    	@if not $bg {

    	} @else {
    		background-color: $bg;
    	}

    }
}


@mixin calc($property, $expression) {
	#{$property}: -moz-calc(#{$expression});
	#{$property}: -webkit-calc(#{$expression});
	#{$property}: -o-calc(#{$expression});
	#{$property}: calc(#{$expression});
}

// reset
a:hover, a:active, a:focus, a, input::-moz-focus-inner, object, embed {
	outline: 0;
}

/* ==========================================================================
   pixelized icons
   ========================================================================== */
   .icon-px {
   	display: inline-block;
   	&.icon-img {
   		background-image: url("../images/photo_icon.png");
   		width: 16px;
   		height: 14px;
   		background-repeat: no-repeat;
   	}
   	&.icon-arrow {
   		background-image: url("../images/arrow.png");
   		width: 20px;
   		height: 10px;
   		background-repeat: no-repeat;

   	}
   }



// Utilities
// form-helper
.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0,0,0,0);
	border: 0;
}
/**
 * vam vertical align middle
 */
 .vam {
 	vertical-align: middle;
 }
/**
 * vertical align top
 */
 .vat {
 	vertical-align: top;
 }
/**
 * icon extending with sprites gray
 */

 .has-hover-search-gray {
 	&:hover {
 		@extend .icon-pxl-search-hover;
 	}
 }
 .has-hover-fb-gray {
 	&:hover {
 		@extend .icon-pxl-fb-social-gray;
 	}
 }
 .has-hover-gplus-gray {
 	&:hover {
 		@extend .icon-pxl-gplus-gray;
 	}
 }
 .has-hover-twitter-gray {
 	&:hover {
 		@extend .icon-pxl-twitter-social-gray;
 	}
 }
 .has-hover-globe-gray {
 	&:hover {
 		@extend .icon-pxl-globe-gray;
 	}
 }
/**
 * mouse default .ma will give cursor pointer can extend using ma m-pointer, m-hand etc
 */
 .ma {
 	cursor: pointer;
 }
/**
 * dib display inline block
 */

 .dib {
 	display: inline-block;
 }
 .f-table {
 	display: table;
 }
 .f-table-child {
 	display: table-cell;
 	vertical-align: middle;
 }
 .jcrop-holder {
 	margin: 0 auto;
 }
 .ghost-element:before {
 	content: '';
 	vertical-align: middle;
 	height: 100%;
 	margin-left: -0.25em;
 	display: inline-block;
 }

 .centered {
 	display: inline-block;
 	vertical-align: middle;
 }

 .has-error {
 	border: 1px solid $error !important;
 }

 .hidden {
 	display: none;
 	&.ex  {
 		display: none!important;
 	}
 }
 .visually-hidden {
 	visibility: hidden;
 }
 .visually-show {
 	visibility: visible;
 }
 .hidden-field {
 	margin-left: -99999px;
 	position: absolute;
 	visibility: hidden;
 }

 .link-text {
 	color: $dark-color;
 	border-bottom: 1px solid #b1b6b9;
 	&:hover {
 		border-bottom: 1px solid $links-color;
 	}
 	&.link-error {
 		border-bottom: 1px solid $links-color-error;
 	}
 }
/*float*/
.fl {
	float: left;
}
.fr {
	float: right;
}

/* padding */

.padding-top-30 {
	padding-top: rem-calc(30);
}

.padding-bottom-30 {
	padding-bottom: rem-calc(30);
}

.padding-30 {
	padding: rem-calc(30);
}

.no-padding {
	padding: 0!important;
}
.no-padding-right {
	padding-right: 0;
}

.no-padding-left {
	padding-left: 0;
}

/* margin */
.no-margin {
	margin: 0;
}

.no-margin-bottom {
	margin-bottom: 0;
}

.margin-bottom-30 {
	margin-bottom: rem-calc(30);
}

.margin-botton-15 {
	margin-bottom: rem-calc(15);
}
.margin-right-15 {
	margin-right: rem-calc(15);
}

.dark-bg {
	background-color: $dark-color;
}

.nav-bg {
	background-color: $nav-color;
}

.links-bg {
	background-color: $links-color;
}

.white-bg {
	background-color: #ffffff;
}

.dark-text {
	color: $dark-color;
}

.link-text {
	color: $links-color;
}

.nav-text {
	color: $nav-color;
}

.light-2-text {
	color: $light-color-2;
}

.twitter-color {
	color: $twitter-color;
}

.fb-color {
	color: $facebook-color;
}

/* seperator */
.seperator-10 {
	padding-bottom: rem-calc(10);
}

.seperator-20 {
	padding-bottom: rem-calc(20);
}

.sep-line {
	padding-right: rem-calc(15);
	padding-left: rem-calc(15);
	border-bottom: 1px solid #ededed;
	margin: 0;
	&.black {
		border-bottom: 1px solid #313131;
	}
	&.margin {
		margin: 0 rem-calc(32.5) 0 rem-calc(42);
	}
	&.w-93 {
		width: 93%;
		margin: 0 auto;
	}
}
/**
  * @name Border-Top
  * @description Style for the border
  * eg: Can use in any section for apply border-top and color for that section will extended
  * @markup
  *   <div class="border-top">markup</div>
  */

  .border {
  	&.top {
  		border-top: 1px solid $dark-color;
  	}
  	&.bottom {
  		border-bottom: 1px solid $dark-color;
  	}
  }
  .no-border-bottom {
  	border-bottom: 0;
  }


  [class^="icon-"], [class*=" icon-"] {
    // position: relative;
    // top: 2px;
}

.badge {
	min-width: 10px;
	padding: 3px 7px;
	font-size: rem-calc(12);
	font-weight: 700;
	color: #fff;
	line-height: 1;
	vertical-align: baseline;
	white-space: nowrap;
	text-align: center;
	@include border-radius(10);
}

.circular {
	background: {
		color: #000000;
		position: 50% 50%;
		repeat: no-repeat;
		size: cover;
	};
	border-radius: 50%;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.8);
}

/****search****/
.place-search {
	background: url(../images/search-onclick.png) no-repeat 98% 50%;
	padding-right: rem-calc(40);
}

input[type="search"] {
	box-shadow: none;
}

input[type="search"]::-webkit-search-cancel-button {
	-webkit-appearance: none;
    // display: none;
    // background: url(../images/search-onclick-red.png) no-repeat 98% 50%;
}

input[type="search"]:focus {
	box-shadow: none;
	background: url(../images/search-onclick.png) white no-repeat 98% 50%;
	border: 1px solid #909090;
}

input[type="email"]:focus, input[type="password"]:focus {
	box-shadow: none;
}

textarea {
	padding: rem-calc(15) rem-calc(10);
	&:focus {
		box-shadow: none;
	}
}

select {
	@include border-radius(3);
}

textarea {
	@include border-radius(3);
}

input {
	box-shadow: none !important;
	border-radius: 3 !important;
	@include border-radius(3);
	&::-webkit-input-placeholder {
		font-family: $font-base;
		font-size: 13px;
	}
	&:-moz-placeholder {
        /* Firefox 18- */
        font-family: $font-base;
        font-size: 13px;
    }
    &::-moz-placeholder {
        /* Firefox 19+ */
        font-family: $font-base;
        font-size: 13px;
    }
    &:-ms-input-placeholder {
    	font-family: $font-base;
    	font-size: 13px;
    }
}

label {
	font-family: $font-base;
	font-weight: bold;
	color: $dark-color;
	font-size: rem-calc(16);
	select {
		margin-top: $label-child-margin-top;
		background-color: #fff;
		box-shadow: none;
		margin-bottom: 0;
		&:focus {
			box-shadow: none;
		}
	}
	input {
		margin-top: $label-child-margin-top;
		background-color: #fff;
		box-shadow: none;
		margin-bottom: 0;
		&:focus {
			box-shadow: none;
		}
	}
	input[type="text"] {
		margin-top: $label-child-margin-top;
		background-color: #fff;
		box-shadow: none;
		margin-bottom: 0;
		&:focus {
			box-shadow: none;
		}
	}
	textarea {
		margin-top: $label-child-margin-top;
		resize: none;
		background-color: #fff;
		box-shadow: none;
		margin-bottom: 0;
		&:focus {
			box-shadow: none;
		}
	}
}

/****Icon moon***/
.icon-sm {
	font-size: rem-calc(15);
}

.icon-xs {
	font-size: rem-calc(12);
	top: 0;
}

/****font-colors****/
.text-red {
	color: $red-color;
}

/****Buttons****/
@mixin round-button ($background, $color, $border-cl, $border, $radius ) {
	background-color: $background;
	color: $color;
	border: {
		color: $border-cl;
		width: $border;
		radius: $radius;
	}
}
.semi-bold {
	font-family: $font-base;
	font-weight: 600;
	font-size: 13px;
}
.button {
	&.button-primary {
		padding: rem-calc(5) rem-calc(8);
		background-color: #ffffff;
		color: #000000;
	}
	&.has-shadow {
		box-shadow: 0 1px 2px rgba(0,0,0,0.36);
	}
}
.button.tiny {
	&.tiny-ex {
		@extend .semi-bold;
		[class^="icon-"], [class*=" icon-"] {
			font-size: rem-calc(9);
		}
	}
	&.button-following {
		@extend .tiny-ex;
		span {
			margin-right: rem-calc(4);
		}
		min-height: rem-calc(28);
		min-width: rem-calc(95);
	}
	&.button-unfollow {
		@extend .tiny-ex;
		span {
			margin-right: rem-calc(4);
		}
		min-height: rem-calc(28);
		min-width: rem-calc(95);
	}
	&.button-follow {
		span {
            // margin-left: rem-calc(-18);
        }
        @extend .tiny-ex;
        min-height: rem-calc(28);
        min-width: rem-calc(95);
    }
    &.button-fb {
    	@extend .tiny-ex;
    	background-color: $facebook-color;
    	padding: rem-calc(8) rem-calc(18);
    	span {
    		font-size: rem-calc(18);
    	}
    }
    &.button-twitter {
    	background-color: $twitter-btn-color;
    	padding: rem-calc(8) rem-calc(18);
    }
}

.button-following {
	background-color: $section-bg-grey;
	color: #ABB2B6;
	&:hover {
		background-color: #ECE8E5;
		color: #000;
	}
}

.button-unfollow {
	background-color: $section-bg-grey;
	color: #ABB2B6;
	&:hover {
		background-color: #ECE8E5;
		color: #000;
	}
}

.button-follow {}

.button-edit:hover, .button-edit:focus {
	background-color: #00c977;
}

.button-delete {
	background-color: $dark-color;
	padding: 5px 10px !important;
	margin-left: 3px;
	&:hover, &:focus {
		@extend .nav-bg;
	}
	[class^="icon-"], [class*=" icon-"] {
		top: 0;
	}
}

button, .button {
	padding: 9px 20px;
}

button.tiny, .button.tiny {
	padding: 5px 12px;
	font-size: rem-calc(13);
}

.button-default {
	background-color: #f6f6f6;
	color: #000000;
	font-family: $font-base;
	font-size: rem-calc(14);
	color: #a4a4a4;
	&:hover {
		background-color: #eef0f1;
		color: #000000;
	}
	&.active {
        // box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
        // -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
        // -moz-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
        color: #000000;
        background-color: #eef0f1;
    }
}

.button-group {
	>  .button {
		&.button-default {
			border-right: 0;
			border: 1px solid #d0d0d0;
		}
		&:last-child {
			border-right: 1px solid #d0d0d0;
		}
	}
}

/* radio toggle */
.button {
	input[type="radio"] {
		display: none;
	}
}
/* ==========================================================================
   ELEMETS
   ========================================================================== */
/**
 * custom checkbox
 */
 .custom {
 	&.checkbox {
 		display: inline-block;
 		width: 12px;
 		height: 12px;
 		position: relative;
 		top: -1px;
 		vertical-align: middle;
 		background-color: #c8c8c8;
 		border-radius: 2px;
 		&.checked {
 			content: "\00d7";
 			color: #222222;
 			position: absolute;
 			top: -50%;
 			left: 50%;
 			margin-top: 4px;
 			margin-left: -5px;
 		}
 	}
 }


/* ==========================================================================
   modules
   ========================================================================== */
/**
 * module: switch button extended here
 */
 .onoffswitch {
 	&:before, &:after {
 		-webkit-box-sizing: content-box;
 		-moz-box-sizing: content-box;
 		box-sizing: content-box;
 	}
 	.onoffswitch-switch {
 		-webkit-box-sizing: content-box;
 		-moz-box-sizing: content-box;
 		box-sizing: content-box;
 	}
 	.onoffswitch-label {
 		margin: 0;
 		display: block!important;
 		padding: 0;
 	}
 }

/**
 * module: popup buttons for create tip
 *         has tip
 */

// base
.tip-left {
	position: relative;
	&:after, &:before {
		right: 100%;
		top: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
	}
	&:after {
		border-color: rgba(0,0,0,0);
		border-right-color: inherit;
		border-width: 6px;
		margin-top: -6px;
	}
	&:before {
		border-color: rgba(0,0,0,0);
		border-right-color: inherit;
		border-width: 6px;
		margin-top: -6px;
	}
}

.button-wrapper {
	display: inline-block;
}
.button-fill {
	width: 100%;
}
/**
 * module: photo upload popup button
 */

 .photo-uploader {
 	.icon-pxl-photo {
 		margin-right: rem-calc(20);
 	}
 	background-color:#f4f5f6;
 	padding: rem-calc(28) rem-calc(22) rem-calc(26) rem-calc(22);
 	border: 1px dashed #d7d7d7;
 	border-radius: 3px;
 	text-align: center;
 	.icon {
 		&:before {
 			vertical-align: middle;
 		}
 		margin-right: rem-calc(20);
 		vertical-align: middle;
 		color: #898989!important;
 		font: {
 			size: rem-calc(32);
 		};
 	}
 	p{
 		margin-bottom: 0;
 		line-height: rem-calc(22)!important;
 		display: inline-block;
 		vertical-align: middle;
 		color: #898989!important;
 		font: {
 			size: rem-calc(16)!important;
 			weight: 400!important;
 			style: normal!important;
 		};
 	}
 }
/**
 * module: datepicker
 */

// override
.datepicker {
	.datepicker-days {
		.next {
			&:before {
				content: "›";
				padding: 5px;
				font-size: 29px;
				display: inline-block;
			}
		}
		.prev {
			&:before {
				content: "‹";
				padding: 5px;
				font-size: 29px;
				display: inline-block;
			}
		}
	}
	th {
		font: {
			family: $font-base;
		};
		&.active {
			&.day {
				background: $links-color!important;
				color: white;
			}
		}
	}
	td {
		&.active {
			&.day {
				background: $links-color!important;
				color: white;
			}
		}
		font: {
			family: $font-lg;
		};
	}
}

// extends
.popup-button-wrapper {
	position: relative;
	// display: none;
	&.has-content {
		.button-wrapper {
			top: 90px;
		}
	}
	.button-wrapper {
		position: absolute;
	}
}
.popup-edit-buttons {
    // for milestone
    .button {
    	padding-right: rem-calc(5);
    	padding-left: rem-calc(5);
    }
    &.popup-milestone {
    	> .button {
    		width: rem-calc(64);
    	}
    	.button {
    		background-color: #00ac66;
    	}
    	.button-group {
    		a {
    			width: rem-calc(32);
    		}
    	}
    	a {
    		color: white;
    	}
    }
    //for moment
    &.popup-moment {
    	> .button {
    		border-color: $dark-color;
    		width: rem-calc(64);
    	}
    	.button {
    		background-color: $dark-color;
    	}
    	.button-group {
    		.moment-black-button{
    			border-left-color: #3b3b38;
    			width: rem-calc(32);
    		}
    		.milestone-green-button{
    		    border-left-color: white;
    			background-color: #00ac66;
    			width: rem-calc(32);
    		}
    		.milestone-inactive{
    			background-color: #66cda3;
    		}
    	}
    	a {
    		color: white;
    	}
    	.inactive {
    		color: #626262;
    	}
    }
    .text {
    	font: {
    		size: rem-calc(9);
    		family: arial;
    	};
    }
    > .button {
    	margin-bottom: rem-calc(5);
    }
}

/* help block */
.help-block {
	padding: rem-calc(11) 0 0 0;
	color: #b1b6b9;
	font-family: arial;
	font-size: rem-calc(11);
	font-weight: normal;
}

/* left column content wrapper  */
.content-left-wrapper {
	background-color: #fff;
	padding: rem-calc(20) rem-calc(25);
	line-height: rem-calc(15);
	margin-bottom: rem-calc(35);
	.padding-right {
		padding-right: $form-padding-gutter !important;
	}
	.padding-left {
		padding-left: $form-padding-gutter !important;
	}
	h1 {
		font-family: $font-base;
		font-weight: bold;
		font-size: rem-calc(24);
	}
	.form-group {
		margin-bottom: rem-calc(40);
	}
	.sub-heading {
		font-family: $font-base;
		font-size: rem-calc(18);
		font-weight: normal;
	}
	.profile-data {
		.profile-heading {
			font-family: $font-base;
			font-size: rem-calc(16);
			font-weight: bold;
		}
		.icons {
            /* .icon-pxl-globe-black {
                &:hover {
                    @extend .icon-pxl-globe-gray;
                }
            } */
            .has-hover-fb-gray {
            	&:hover {
            		@extend .icon-pxl-fb-gray;
            	}
            }
        }
    }
}

/****Nav Bar - Top****/
.top-bar-container {
	border-bottom: 1px solid $border-color;
}

.top-bar {
	.has-dropdown {
		&:hover > .dropdown {
			opacity: 1;
		}
	}
	background-color: transparent;
	.dropdown {
		opacity: 0;
		-webkit-transition: all 0.85s ease;
		-moz-transition: all 0.85s ease;
		-o-transition: all 0.85s ease;
		ms-transition: all 0.85s ease;
		transition: all 0.85s ease;

		li, a {
			background-color: #ffffff!important;
		}
	}
	.title-area {
		background-color: transparent!important;
		a {
			background-color: transparent!important;
		}
		img {
			max-width: rem-calc(150);
		}
	}
	ul {
		background-color: transparent!important;
		li {
			a {
				background-color: transparent!important;
			}
		}
	}
	.top-bar-section {
		.has-dropdown {
			> a {
				padding: 0 rem-calc(25) !important;
				&:after {
					margin-right: rem-calc(15);
					border: inset 4px;
					border-top-style: solid;
					border-color: #363636 transparent transparent transparent;
					top: 50% !important;
				}
			}
		}
		.icon-search-default {
			color: #868C8F;
		}
		.has-dropdown {
			&.new-roadtrip {
				> a:after {
					display: none;
				}
			}
		}
		&:not(.has-form) {
			a:not(.button) {
				line-height: rem-calc(74);
			}
		}
		ul {
			li {
				&:hover {
					> a {
						color: $links-color;
					}
				}
				a {
					&:hover {
						@extend .nav-text;
					}
					&.active {
						color: $nav-color;
					}
				}
				.dropdown-trigger:hover {
					background-color: #fbfbfb;
				}
			}
			.icon-search {
				font-size: rem-calc(15);
			}
			.new-roadtrip {
				a {
					&:hover {
                        // @extend .link-text;
                        background-color: #fbfbfb;
                    }
                }
                .dropdown {
                	a {
                		text-align: left;
                	}
                }
                .icon-new-roadtrip {
                	font-size: rem-calc(15);
                	position: relative;
                	top: 1px;
                }
            }
            .account-img {
				background-color:white;
				background-image: url(../images/default_profile.png);
            	@extend .circular;
            	height: 32px;
            	width: 32px;
            	float: left;
            	position: relative;
            	margin-top: 22px;
            }
            .account-img-actor {
				background-color:white;
				background-image: url(../images/default_profile.png);
            	@extend .circular;
            	height: 32px;
            	width: 32px;
            	float: left;
            	position: relative;
            	margin-top: 22px;
            }
        }
        .dropdown {
            // margin-top: 2px;
            border-top: 1px solid #eef0f1;
            a:not(.button) {
            	padding: 0 23px;
            	line-height: 35px;
            	border-right: 1px solid #eef0f1;
            	border-left: 1px solid #eef0f1;
            	border-bottom: 1px solid #eef0f1;
            	text-align: right;
            }
            li:hover:not(.has-form) > a:not(.button) {
            	color: $links-color;
            }
        }
    }
    .left {
    	margin-left: rem-calc(28);
    }
    .icon-search {
    	color: #8d9396;
    }
    .new-roadtrip {
    	border: {
    		right: 1px solid $border-color;
    		left: 1px solid $border-color;
    	};
    }
}

/****Profile View page****/

// User Profile Details

.profile-data {
	display: table;
	padding: rem-calc(30) 0;
	font: {
		family: $font-lg;
		weight: 400;
		style: normal;

	};
	.icons {
		a {
			color: #000000;
		}
	}
	.name {
		font-size: rem-calc(32);
		font-weight: 600;
	}
	.desc {
		font-size: rem-calc(18);
	}
	.bio {
		font-family: $font-base;
		font-size: rem-calc(13);
		color: $light-color-1;
	}
	.icons {
		margin-top: 10px;
		span {
			margin-right: 15px;
			font-size: rem-calc(17);
		}
		.icon-twitter {
			top: 4px !important;
		}
	}
	* {
		margin-bottom: 0px;
	}
	.user-photo {
		background-color:white;
		background-image: url(../images/default_profile.png);
		display: inline-block;
		@extend .circular;
		height: 124px;
		width: 124px;
	}
	.edit-profile-wrapper {
		float: none !important;
		display: table-cell;
		vertical-align: middle;
	}
}

/* profile settings */
.profile-settings {
	.content-2 {
		margin: rem-calc(32) 0 0 0;
		.button-group {
			margin-top: rem-calc(16);
			.button:first-child {
				border-right: none;
			}
		}
	}
	.settings-rows {
		.f-table {
			width: 98%;
		}
		.row {
			padding-bottom: rem-calc(20);
			padding-top: rem-calc(20);
			margin: 0 0.625rem;
		}
		.sep-line {
			margin: 0 0.625rem;
		}
	}
}

// Feed
.feed-sidebar {
	width: 282px;
	.section {
		padding: rem-calc(15);
		border-bottom: 1px solid #eeeaea;
		background-color: $section-bg-grey;
		.section-heading {
			color: $dark-color;
			font-family: $font-base;
			font-size: rem-calc(12);
			font-weight: bold;
			margin-bottom: rem-calc(15);
			.right {
				span {
					color: #8c8e92;
					cursor: pointer;
					&:hover {
						color: $dark-color;
					}
				}
			}
		}
		ul {
			margin-bottom: 0;
			&.inner-section-padding {
				padding-top: rem-calc(20);
			}
			li {
				list-style: none;
				line-height: rem-calc(19);
				color: #8c8e92;
				a {
					color: #8c8e92;
					font-family: $font-base;
					font-size: 13px;
					&.active, &:active, &:focus {
						border-bottom: 1px solid #e0e2e4;
					}
					&:hover {
						color: #00ac66;
					}
					.bull {
						vertical-align: bottom;
					}
					.icon-plus {
						font-size: 8px;
						top: -1px;
					}
				}
			}
		}
	}
}

.feed {
	@include calc(width, "50% - 9px");
	padding: 0;
	background-color: #ffffff;
	margin-bottom: 20px;
	box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
	.feed-ex {
		margin-bottom: rem-calc(2);
	}
	.head {
		width: 100%;
		padding: 0 15px;
		height: 60px;
		line-height: 60px;
		font-size: rem-calc(13);
		font-weight: bold;
		a {
			color: $dark-color;
		}
		.user-photo {
			background-color:white;
			background-image: url(../images/default_profile.png);
			display: inline-block;
			@extend .circular;
			height: 32px;
			width: 32px;
			position: relative;
			margin: 15px 10px 0 0;
		}
	}
	.content {
		width: 100%;
		padding: 15px;
		font-size: rem-calc(13);
	}
	.views {
		color: $light-color-1;
		font-size: rem-calc(12);
		font-weight: normal;
	}
	.photo {
		width: 100%;
        /*height: rem-calc(300);*/
        overflow: hidden;
        position: relative;
        &:hover, &:hover .overlay {
        	display: block;
        }
        .overlay {
        	position: absolute;
        	bottom: 0;
        	left: 0;
        	width: 100%;
        	padding: 15px;
        	background-color: rgba(0, 0, 0, 0.4);
        	display: none;
        	button, .button {
        		margin-bottom: 0;
        	}
        }
    }
    .content {
    	.trip-title {
    		color: $dark-color;
    		&:hover {
    			color: #8c8e92;
    		}
    		line-height: 1.2;
    		font: {
    			family: $font-lg;
    			size: rem-calc(24);
    		};
    	}
    	p {
    		margin: rem-calc(14) 0 0 0;
    		font-size: rem-calc(13);
    		color: $light-color-2;
    		line-height: 1.5;
		   	overflow: hidden;
		   	text-overflow: ellipsis;
		   	max-height: 9em;
		   	display: -webkit-box;
		    -webkit-box-orient: vertical;
		    -webkit-line-clamp: 6;

    	}
    }
    .separator {
    	padding: 0 15px;
    	hr {
    		border-color: #ededed;
    		border-width: 1px 0 0;
    		margin: 0;
    	}
    }
    .foot {
    	width: 100%;
    	padding: 15px;
    	color: $light-color-1;
    	font-size: rem-calc(13);
    	.like {
    		cursor: pointer;
    		&:hover {
    			@extend .nav-text;
    		}
    		&:hover .has-hover-like{
    			@extend .icon-pxl-like-red;
    		}
    	}
    	.comment {
    		cursor: pointer;
    		margin-left: 5px;
    		&:hover {
    			color: $dark-color;
    		}
    		&:hover .has-hover-comment {
    			@extend .icon-pxl-comment-black;
    		}
    	}
    }
}

.oneColFeed {
	width: 100%;
}

// Tabs
.tabs {
	dd {
		a {
			font-size: rem-calc(14);
		}
	}
	&.tabs-inner {
		background-color: $section-bg-grey;
		dd {
			color: $dark-color;
			border-bottom: none;
			a {
				background-color: $section-bg-grey;
				color: $light-color-1;
				font-size: rem-calc(14);
				padding: rem-calc(8) rem-calc(26);
				text-align: center;
				.icon {
					font-size: rem-calc(19);
				}
			}
			&.active {
				a {
					color: $dark-color;
					background-color: white;
				}
			}
			&.hover {
				color: $dark-color;
			}
		}
	}
	dd {
		border-bottom: 1px solid #eeeaea;
		border-right: 1px solid #eeeaea;
		&.active {
			a {
				color: #00ac66;
				.menu-hover-bottom {
					opacity: 1;
				}
			}
		}
	}
	dd:last-child {
		border-right: none;
	}
	a {
		position: relative;
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-ms-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;
		&:hover {
			color: #00ac66;
		}
		&:hover .menu-hover-bottom {
			opacity: 1;
		}
		&:hover .menu-hover-right {
			opacity: 1;
		}
		.menu-hover-bottom {
			position: absolute;
			width: 100%;
			height: 2px;
			bottom: 0;
			background-color: #00ac66;
			opacity: 0;
			left: 0;
			-webkit-transition: all 0.3s ease;
			-moz-transition: all 0.3s ease;
			-ms-transition: all 0.3s ease;
			-o-transition: all 0.3s ease;
			transition: all 0.3s ease;
		}
	}
	&.even-2 {
		dd {
			width: 50%;
		}
	}
	&.even-3 {
		dd {
			width: 33.333%;
		}
	}
	&.even-4 {
		dd {
			width: 25%;
		}
	}
}

// Tabs -content
.no-js {
	.tabs-content {
		> .content {
			display: none;
		}
	}
}

.no-js {
	.tabs-content {
		> .content {
			&.active {
				display: block;
			}
		}
	}
}
.connect-to {
	text-align: center;
	margin: 20px;
	height: 350px;
	.centered {
		display: inline-block;
		vertical-align: middle;
		padding: 10px 15px;
		line-height: 1.5;
		.button {
			.icon {
				font-size: 16px;
				vertical-align: middle;
			}
		}
	}
}
.tabs-content {
	background-color: #fff;
	.content {
        //facebook section
        .section-facebook {
        	text-align: center;
        	margin: 20px;
        	height: 350px;
        	&:before {
        		content: '';
        		display: inline-block;
        		height: 100%;
        		vertical-align: middle;
        		margin-right: -0.25em;
        	}
        	.section-facebook-inner {
        		display: inline-block;
        		vertical-align: middle;
        		padding: 10px 15px;
        		line-height: 1.5;
        		.button {
        			.icon {
        				font-size: 16px;
        				vertical-align: middle;
        			}
        		}
        	}
        }
        //invite section for content
        &.invite {
        	.section-mail {
        		padding: rem-calc(35) rem-calc(30);
        		input {
        			margin: 0;
        		}
        		.email-address {
        			line-height: 1.5;
        		}
        	}
        	.help-block {
        		font: {
        			family: $font-base;
        			size: rem-calc(14);
        		};
        	}
        	.section-message {
        		padding: rem-calc(35) rem-calc(85);
        		background-color: $section-bg-grey;
        		.message-heading {
        			font-weight: bold;
        		}
        		.message-content {
        			line-height: rem-calc(24);
        		}
        		textarea {
        			background-color: white;
        		}
        		.personal-message {
        			overflow: hidden;
        		}
        	}
        }
        .content-wrapper {
        	padding: 20px 15px;
        	border-bottom: 1px solid #eeeaea;
        	&.following-people {
        		font-family: $font-base;
        		font-size: rem-calc(13);
        		> div {
        			line-height: rem-calc(18);
        		}
        		.following-people-details {
        			display: inline-block;
        			width: 80%;
        			.following-people-name {
        				a {
        					font: {
        						size: rem-calc(13);
        						weight: 700;
        					};
        					color: #000000;
        					line-height: rem-calc(18);
        				}
        			}
        			.following-people-desc {
        				color: #8c8e92;
        				font-weight: normal;
        			}
        			.following-people-info {
        				color: $light-color-1;
        				font-weight: normal;
                        // span:after {
                        //     content: ", ";
                        // }
                        // span:last-child:after {
                        //     content: "";
                        // }

                    }
                }
                .user-photo {
                  	background-color:white;
					background-image: url(../images/default_profile.png);
                	display: inline-block;
                	@extend .circular;
                	height: 50px;
                	width: 50px;
                }
            }
            &.place-search {
            	&:hover {
            		background-color: #fff;
            	}
            }
            &.search-further {
            	background-color: $section-bg-grey;
            	.search-further-text, .more-suggestion-text {
            		font-family: $font-base;
            		font-size: 13px;
            		color: $light-color-1;
            		line-height: rem-calc(0);
            	}
            }
            &.following-place-info {
            	.following-place-info-text {
            		text-align: center;
            		padding: rem-calc(17) rem-calc(68);
            	}
            }
            &:hover {
            	background-color: $section-bg-grey;
            	.button-following {
            		@extend .has-shadow;
            	}
            }
        }
        input[type="search"] {
        	margin: rem-calc(0);
        }
        p {
        	margin-bottom: rem-calc(3);
        	line-height: rem-calc(18);
        }
        .place {
        	display: inline-block;
        	width: 80%;
        	.place-title {
        		font-family: $font-base;
        		font-size: 16px;
        		font-weight: bold;
        	}
        	.place-info {
        		font-family: $font-base;
        		font-size: 13px;
        		color: $light-color-1;
                // span:after {
                //     content: ", ";
                // }
                // span:last-child:after {
                //     content: "";
                // }

            }
        }
    }
}

// Tabs - Side Nav
aside.tabs {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	width: 282px;
	hr {
		border: {
			color: #eeeaea;
			width: 1px 0 0;
		};
		margin: 0;
	}
	.tab {
		display: block;
		background-color: $section-bg-grey;
		color: #89949a;
		padding: 13px 15px;
		font: {
			size: rem-calc(13);
			weight: bold;
		};
		&:hover {
			color: #89949a;
			background-color: #ffffff;
		}
		&:focus, &:focus .icon {
			@extend .current;
		}
		.badge {
			line-height: rem-calc(15);
		}
		.icon {
			color: #c7ccd3;
		}
		.gt {
			font-family: proxima-nova;
			font-weight: normal;
			font-size: rem-calc(9);
			padding-left: rem-calc(2);
		}
		a {
			color: #89949a;
		}
	}
	.tab.normal {
		font-weight: normal !important;
	}
	.current, .current .icon {
		color: #000000 !important;
		background-color: #ffffff !important;
	}
	.profile-pics {
		img {
			display: block;
			float: left;
			width: 47px;
			height: 47px;
		}
		.more {
			display: block;
			width: 47px;
			height: 47px;
			line-height: 47px;
			font: {
				weight: bold;
				size: rem-calc(13);
			};
			background-color: $links-color;
			color: #ffffff;
		}
		a {
			position: relative;
			display: block;
			float: left;
			&:hover {
				.overlay {
					height: 47px;
					width: 47px;
					padding: 0;
					margin: 0;
  					background:rgba(0,0,0,0.3);
					color: #ffffff;
					position: absolute;
				}
			}
		}
	}
	.subhead {
		display: block;
		color: $dark-color;
		font: {
			size: rem-calc(14);
			weight: bold;
		};
		margin-bottom: 10px;
	}
	.recommended {
		a {

			line-height: rem-calc(25);
			color: #89949a;
			font: {
				size: rem-calc(16);
				family: $font-base;
				weight: normal;
			};
		}
	}
	p {
		margin: 0;
	}
}
/* ==========================================================================
   modals
   ========================================================================== */
// edit modal

.trip-popup {
	width: rem-calc(530);

	&.modal-photo-uploader {
		margin-left: -21%;
		width: 618px;
		@media (min-width: 1020px) {

		}
		.section-alone {
			padding-bottom: 0;
		}
	}

	.datepicker-wrapper {
		input {
			width: 100%;
			padding-left: 0px;
		}
	}
	.padding-left-zero {
		padding-left:0;
		}
	.modal-categoryies {

	}
	.modal-category {
		width: 20%;
		float: left;
		text-align: center;
		display: inline-block;
		border-right: 1px solid #d4d6df;
		background-color: #f6f7fb;
		padding: rem-calc(12);
		cursor: pointer;

		&:last-child {
			border-right: 0;
		}
		&.active {
			.text, .icon {
				color: $links-color;
			}
		}

		label {
			padding: 0;

			> span {
				display: block;
				color: #b4bad0;
				margin: 0 auto;
			}

			input[type="radio"] {
				display: none;
			}
		}

		.icon {
			margin-bottom: rem-calc(14);
		}

		.text {
			color: #949ab2;
			font: {
				size: rem-calc(13);
			};
		}
	}
	.modal-info {
		background-color: #f2f4f7;
	}
	.modal-info-text {
		&.ex {
			font: {
				weight: 700;
				size: rem-calc(14);
			}
		}
		line-height: rem-calc(22);
		font: {
			size: rem-calc(13);
		};
	}
	.section-file-crop {
		&.columns {
			padding:  1.25rem 1.25rem;
		}
		.section {
			display: block;
		}
	}
	.section-fileupload {
		height: rem-calc(105);
	}
	.section {
		img {
			width: 100%;
		}
		.button {
			margin-bottom: 0;
		}
		&.section-alone {
			min-height: rem-calc(105);
		}
		padding: rem-calc(15) 0;
	}
	.modal-alert-sec {
		&.alert-error {
			background-color: #ffebeb;
			color: #a95b5b;
			a {
				color: inherit;
			}
		}
		.section {
			padding: rem-calc(8) 0;
		}
		font: {
			size: rem-calc(13);
			family: $font-base;
		}
		a  {

		}
	}
	.modal-social-icon {
		display: inline-block;
		margin-right: rem-calc(18);
		.custom{
			&.checkbox {
				margin-right: rem-calc(5);
			}
		}
		.icon {

			vertical-align: middle;
		}
	}
	.section-content {
		display: inline-block;
		width: 65%;
		line-height: rem-calc(20);
		font: {
			size: rem-calc(16);
			weight: 400;
			style: normal;
		};

		&.tags {
			input {
				color: #000000;
				padding: 0;
			}
		}
	}
	.right {
		display: inline-block;
	}
	.modal-hint-text {
		font: {
			size: rem-calc(14);
			weight: 400;
			style: normal;
		};
		color: #9a9a9a;
		line-height: rem-calc(20);
	}
	.close-reveal-modal{
		position: absolute;
		top: -50px;
		right: -13px;
		color: #fff;
		width: rem-calc(26);
		height: rem-calc(26);
		@include border-radius(13);
		border: 2px solid #fff;
		font-size: 20px;
		line-height: rem-calc(24);
		text-align: center;
		background-color: transparent;
	}
	.row {
		&:last-child {
			border-bottom: 0;
		}
		&.collapse {
			> .columns {
				border-right: 1px solid #d4d6df;
			}
			.columns:last-child {
				border-right: 0;
			}
		}
		border-bottom: 1px solid #d4d6df;
		.row {
			.columns {
				padding-left: rem-calc(20);
			}
		}
	}
	.columns {
		padding-left: rem-calc(20);
	}
	.modal-clipboard {
		background-color: #fffcb7;
		.section {
			padding: rem-calc(10) 0;
		}
		.icon {
			color: #626035;
		}
		.modal-clipboard-link {
			margin-left: rem-calc(8);
			color: #000000;
			font: {
				family: $font-base;
				weight: 400;
				style: normal;
			};
		}
		.button {
			font: {
				family: $font-base;
				weight: 400;
				size: rem-calc(14);
				style: normal;
			};
			margin-bottom: 0;
			background-color: #e9e594;
			color: #000000;
		}
	}
	.modal-footer {
		.button {
			&.inactive {
				background-color: #cfd2de;
			}
			padding: rem-calc(15) rem-calc(10);
			font: {
				family: $font-base;
				weight: 700;
				style: normal;
			}
			letter-spacing: 2px;
			&.has-border-bottom {
				border-bottom: 3px solid #007e4b;
			}
			margin-bottom: 0;
		}
	}
	.reveal-modal-heading {
		background-color: #f2f4f7;
		padding: rem-calc(20) 0;
	}
	.modal-heading {
		line-height: rem-calc(31);
		font: {
			family: $font-base;
			weight: 400;
			size: rem-calc(22);
			style: normal;
		};
	}
	label {
		margin-bottom: 0;
		padding: rem-calc(15) 0;
		font: {
			family: $font-base;
			weight: 400;
			size: rem-calc(16);
			style: normal;
		};
	}
	option{
		border-top: 1px solid #eef0f1;
		color: #000000;
		padding: 0 23px;
		line-height: 35px;
		border-right: 1px solid #eef0f1;
		border-left: 1px solid #eef0f1;
		border-bottom: 1px solid #eef0f1;
        // text-align: right;
    }
    select {
    	color: #000000!important;
    }

    input, select, input:focus, input:hover {
    	&.as-label {
    		padding-left: 0;
    		color: #8c8e92!important;
    	}

    	@include placeholder-style($font-base, 16, #8c8e92, #ffffff);
    	background-color: #ffffff;
    	border: none;
    	border-width: 0;
    	margin: rem-calc(10) 0 0 0 ;
        // padding: 0;
        // color: #cbd1d4;
        font: {
        	family: $font-base;
        	weight: 400;
        	size: rem-calc(16);
        	style: normal;
        };
    }
}

select {
	    -moz-appearance: none;
	}



// Delete confirmation modal
#confirmDeleteModal {
	.content {
		padding: rem-calc(30);
		h4 {
			font: {
				family: $font-base;
				font-weight: 600;
			};
			span {
				color: #878787;
			}
		}
		p {
			font: {
				family: $font-base;
				font-weight: 700;
			};
			margin: 0;
		}
	}
	button {
		margin: 0;
		width: 50%;
		float: left;
		font-weight: bold;
		&:first-child {
			@extend .dark-bg;
		}
		&:last-child {
			@extend .nav-bg;
		}
	}
}

/* div {
    &.switch {
        &.small {
            label {
                line-height: rem-calc(27);
                &.on {
                    color: #fff;
                }
                &.off {
                    // background-color: #E7E7E7;

                }
            }
        }
    }
} */

/* search page */
.search-wrapper {
	background-color: rgba(black, 0.85);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 75px;
	.column {
		margin-left: rem-calc(25);
	}
	.search-btn {
		background: transparent;
		margin-top: 25px;
	}
	.search-container {
		padding: 0 rem-calc(25);
		.column {
			margin-left: rem-calc(25);
		}
	}
	.sep-line {
		border: 1px solid #454545;
	}
	@media screen and (max-width: 1270px) {
		.search-heading {
			padding-left: rem-calc(25);
			padding-right: rem-calc(25);
		}
	}
	.search-heading {
		background-color: black;
	}
	.content-wrapper {
		padding: rem-calc(15) 0;
		border-bottom: 1px solid #454545;
		.content-inner-wrapper {
			padding: rem-calc(10) 0;
		}
		.tiny-ex {
			margin-bottom: 0;
		}
	}
	.search-place-result {
		color: #ffffff;
		font-family: $font-base;
		font-size: rem-calc(18);
		&:hover {
			color: $nav-color;
		}
	}
	.search-place-result-by {
		font-size: rem-calc(18);
		color: $search-list-light;
	}
	.search-place-result-by-name {
		font-size: rem-calc(18);
		color: $search-list-light;
		&:hover {
			color: $nav-color;
		}
	}

	.roadtrip-view-link {
		font-family: $font-base;
		font-size: rem-calc(13);
		font-weight: normal;
		color: $search-list-light;
		&:hover {
			color: $nav-color;
		}
	}
	.place-info {
		color: $search-list-light;
		&.right {
			margin-right: rem-calc(15);
			padding-top: rem-calc(5);
		}
	}
	.place-search {
        // background: url(../images/search-onclick-red.png) no-repeat 98% 50%;
        // background-image: url(../images/roadmojo_spritesheet.png);
        background-repeat: no-repeat;
        background-position: -28px -1251px;
        background-size: 20px;
        padding: rem-calc(30) 0;
        margin: 0;
        height: auto;
        font-size: rem-calc(24);
        border: 0;
        background-color: transparent;
        box-shadow: none;
        color: #ffffff;
        &:hover, &:focus {
        	background-color: transparent;
        }
        &:focus {
        	border: #909090;
        	background-size: 20px !important;
            // background: url(../images/search-onclick-red.png) no-repeat 98% 50%;
        }
        @include placeholder-style($font-base, 24, $search-list-light, $bg:false);
    }
}

/* explore page  */
.explore-wrapper {
	background-color: $section-bg-grey;
	.explore-area-heading-wrapper {
		position: relative;
		padding: rem-calc(25) 0;
		.button {
			position: absolute;
			top: 40px;
			right: 0;
		}
	}
	.explore-area-heading {
		font-family: $font-lg;
		font-size: rem-calc(36);
		font-weight: 600;
	}
}

.map-top-shadow {
	background:none repeat scroll 0 0 rgba(0, 0, 0, 0);
    /*box-shadow*/
    -webkit-box-shadow:0 10px 10px -14px #000000 inset;
    -moz-box-shadow:0 10px 10px -14px #000000 inset;
    box-shadow:0 10px 10px -14px #000000 inset;
    display:block;
    height:90px;
    left:0;
    position:absolute;
    right:0;
    top:0;
}
.explore-map-wrapper {
	position: relative;

}
.zoomControl {
	width: 32px;
	height: 32px;
	background-color: #000000;
	cursor: pointer;
	text-align: center;
    // Default opacity of - button is 50%
    &:nth-child(1) {
    	opacity: 0.5;
    }
    // Default opacity of - button is 70%
    &:nth-child(2) {
    	opacity: 0.7;
    }
    // change opacity to 1, on hover
    &:hover {
    	opacity: 1;
    }
}

.fullScreenControl {
	background-color: #000000;
	cursor: pointer;
	text-align: center;
    // Default opacity of - button is 50%
    &:nth-child(1) {
    	opacity: 0.5;
    }
    // change opacity to 1, on hover
    &:hover {
    	opacity: 1;
    }
}

.full-map-modal {
	height: 80vh;

	.title {
		padding: 20px 30px;
		border-bottom: 1px solid #a9a9a9;
		font: {
			size: rem-calc(26);
			family: $font-lg;
			weight: 500;
		};
	}

	.milestone-timeline-wrapper {
		margin: 0;
		padding: 30px 35px;
		@include calc('height', "100% - 130px");
		overflow-y: auto;
	}

	.full-height {
		height: 100%;
	}
}

.explore-map {
	.helpText {
		width: auto;
		height: 38px;
		min-width: 150px;
		background-color: #000000;
		opacity: 0.5;
		font: {
			family: $font-base;
			size: rem-calc(13);
			weight: 400;
		};
		color: #ffffff;
		text-align: center;
		padding: 0 20px;
		cursor: pointer;
		@include border-radius(4);
		> div {
			display: inline-block;
			line-height: 38px;
		}
		.help-text {
			padding-right: 15px;
		}
		.help-tooltip-helper {
			color: #000000;
			background-color: #ffffff;
			padding: 9px 6px;
			line-height: 0;
			font-weight: 600;
			padding: rem-calc(1) rem-calc(7);
			@include border-radius(10);
		}
		&:hover {
			opacity: 0.9;
		}
	}
	.ex_infobox {
		line-height: 22px;
		background-color: #000000;
		color: #ffffff;
		padding: 3px 10px;
		font: {
			family: $font-base;
			size: rem-calc(13);
			weight: 400;
		};
		&:before {
			content: "";
			border: {
				right: 4px solid #000000;
				top: 3px solid transparent;
				bottom: 3px solid transparent;
			};
			width: 0;
			height: 0;
			position: absolute;
			left: -4px;
			top: 12px;
		}
	}
}

.col-trending {
	.sub-heading {
		padding: rem-calc(40) 0 rem-calc(30) rem-calc(10);
		font-family: $font-base;
		font-size: rem-calc(14);
		text-transform: uppercase;
		font-weight: bold;
	}
}

.col-recent {
	@extend .col-trending;
	.sub-heading {
		padding: rem-calc(40) 0 rem-calc(30) 0;
		font-family: $font-base;
		font-size: rem-calc(14);
		text-transform: uppercase;
		font-weight: bold;
	}
}

.footer-section-1 {
	margin-top: rem-calc(15);
	margin-bottom: rem-calc(70);
	.footer-section-heading {
		font-family: $font-base;
		font-size: rem-calc(14);
		text-transform: uppercase;
		font-weight: bold;
	}
	.footer-content {
		margin-top: rem-calc(25);
		&.social-links {
			span {
				color: #a2a2a2;
				margin-left: rem-calc(35);
				font-size: rem-calc(18);
				&:hover {
					color: #000000;
				}
			}
		}
	}
	.tag {
		font-family: $font-base;
		background-color: #efefef;
		color: #8c8e92;
		font-size: rem-calc(13);
		margin-right: rem-calc(6);
		margin-bottom: rem-calc(8);
		&:hover {
			color: #000000;
			background-color: #ffffff;
		}
	}
}

.footer-explore-area {
	height: 470px;
	background-position: center center;
	background-size: cover;
	text-align: center;
	position: relative;
	z-index: 0;
	.overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.65);
		z-index: -1;
	}
	&:before {
		content: '';
		vertical-align: middle;
		height: 100%;
		display: inline-block;
		margin-left: -0.25em;
	}
	.footer-explore-area-heading {
		text-transform: uppercase;
		color: white;
		font-family: $font-base;
		font-size: rem-calc(13);
		margin-bottom: rem-calc(15);
		span {
			font-weight: bold;
		}
	}
	.footer-explore-area-info {
		vertical-align: middle;
		display: inline-block;
		.button {
			font-family: $font-base;
			font-size: rem-calc(16);
			font-weight: bold;
		}
		.sep-line {
			margin: 0 rem-calc(100);
			border-bottom: 1px solid rgba(237, 237, 237, 0.61) !important;
		}
		.info {
			font-family: $font-lg;
			font-size: rem-calc(48);
			font-weight: normal;
			color: white;
			margin-top: rem-calc(28);
			margin-bottom: rem-calc(28);
		}
		.count {
			font-weight: 600;
		}
		.photo-credits {
			position: relative;
			top: 85px;
			span {
				font: {
					family: $font-base;
					size: rem-calc(13);
					style: italic;
				};
				color: white;
			}
		}
	}
}
.footer {
    // position: fixed;
    // bottom:0;
    margin-top: rem-calc(60);
}
.footer-info {
	padding-top: rem-calc(15);
}

/* modals */
.reveal-modal {
	button {
		i {
			margin-right: rem-calc(6);
		}
	}
	&.image-viewer {
		background-color: transparent;
	}
}

/* header scroll */

%transition {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.top-bar, #draftsTab, .dropdown-trigger, .account-img {
	@extend %transition;
}

.top-bar-section {
	ul {
		li {
			@extend %transition;

			a {
				@extend %transition;
			}
		}
	}
}

.top-bar-small-height {
	height: 50px !important;
}

.top-bar-small-lheight {
	line-height: 50px !important;
}

.top-bar-small-margin {
	margin-top: 10px !important;
}

.profile-edit {
	.row {
		.row {
			margin-left: 0;
			margin-right: 0;
			.columns {
				padding-left: 0;
			}
		}
	}
	.profile-data {
		width: 100%;
		.user-photo {
			display: table-cell;
		}
		.profile-info {
			display: table-cell;
			vertical-align: middle;
            // position: relative;
            // left: 40px;
            padding-left: rem-calc(40);
            .profile-heading {
            	padding-bottom: rem-calc(8);
            }
            p {
            	padding-top: 0;
            	padding-bottom: rem-calc(10);
            }
        }
    }
    // social buttons
    .social-connection-buttons {
    	.icon-pxl {
    		margin-top: rem-calc(-4);
    	}
    	margin-top: rem-calc(10);
    	.button {
    		height: 35px;
    		padding: rem-calc(5) rem-calc(10);
    		line-height: rem-calc(28);
    		margin-bottom: 0;
    		font-size: rem-calc(17);
    	}
        // default
        .no-connection {
        	color: #BBBBBB;
        	background-color: #E5E5E5;
        	&.check {
        		background-color: #D9D9D9;
        	}
        }
        // facebook
        .facebook {
        	background-color: #2E5E9A;
        	color: white;
        	&.check {
        		background-color: #255188;
        	}
        }
        // twitter
        .twitter {
        	background-color: #2BAEEF;
        	color: white;
        	&.check {
        		background-color: #28A6E4;
        	}
        }
        // google plus
        .gplus {
        	background-color: #BC3728;
        	color: white;
        	&.check {
        		background: #9D0502;
        	}
        }
    }
}

// roadtrip
.trip-banner-content {
	margin-left: rem-calc(69);
}

.trip-banner {
	background-color: rgb(201,207,213);
	position: relative;
	z-index: 0;
	height: 450px;
	.trip-overlay {
		display: none;
	}
	&.has-banner-img {
		.trip-overlay {
			display: block;
		}
		background-position: center center;
		background-size: cover;
		background-repeat: no-repeat;
	}
	.button-primary {
		margin-bottom: rem-calc(80);
	}
	.centered {
		margin-left: 0;
	}
	.col-left {
		margin-left: rem-calc(25);
		display: inline-block;
		vertical-align: top;
	}
	.col-right {
		display: inline-block;
		margin-left: rem-calc(30);
	}
}

.trip-publish-details, .trip-from-to, .trip-banner-heading, .trip-info {
	color: white;
}

.trip-banner-heading {
    font: {
        family: $font-lg;
        size: rem-calc(72);
        weight: 400;
    };
    line-height: rem-calc(72); //line changed
    .trip-title-editor {
        @extend %inherit;
        @include placeholder-style($font-lg, 72, #ffffff, inherit);
        @include placeholder-padding(30, 0, 0, 0);
        box-shadow: none;
        overflow: hidden;
        line-height: 70px;
        min-height: rem-calc(240);
        resize: none;
    }
}

.user-photo {
  	background-color:white;
	background-image: url(../images/default_profile.png);
	display: inline-block;
	@extend .circular;
	margin-top: rem-calc(5);
	height: 50px;
	width: 50px;
}

.trip-from-to {
	font: {
		family: $font-lg;
		size: rem-calc(16);
		weight: 700;
		style: normal;
	};
	margin-bottom: rem-calc(3);
	line-height: rem-calc(22);
}

.trip-publish-details {
	font: {
		family: $font-base;
		size: rem-calc(14);
		style: normal;
		weight: 400;
	};
	margin-bottom: rem-calc(3);
	line-height: rem-calc(23);
}

.trip-info {
	font: {
		family: $font-base;
		size: rem-calc(14);
	};
	span {
		line-height: rem-calc(16);
	}
}

.trip-info-wrapper {
	margin-top: rem-calc(80);
}

.trip-details-wrapper {
	padding-left: rem-calc(32);
}

.trip-overlay {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	background-color: rgba(0, 0, 0, 0.45);
	z-index: -1;
}

.trip-section {
	padding: 0 rem-calc(15);
	.border {
		&.bottom {
			border-bottom-color: $trip-section-border-btm-cl;
		}
	}
	.trip-section-info {
		.mode {
			margin-bottom: rem-calc(20);
		}
		.count {
			font: {
				family: $font-lg;
				size: rem-calc(36);
			};
			line-height: rem-calc(29);
			margin-bottom: rem-calc(20);
		}
		.text {
			font: {
				family: $font-base;
				size: rem-calc(12);
			};
			line-height: rem-calc(29);
		}
	}
}

.trip-section-intro {
	margin-top: rem-calc(60);
	margin-bottom: rem-calc(60);
	p {
		font: {
			family: $font-lg;
			size: rem-calc(24);
			weight: 500;
		};
		line-height: rem-calc(34);
		.trip-intro-editor {
			@extend %inherit;
			color: #000000;
			box-shadow: none;
			resize: none;
			@include placeholder-style($font-lg, 24, #797979, inherit);
		}
	}
}

.trip-section-info {
	> div {
		display: inline-block;
		margin: 0 rem-calc(30);
	}
	> div:first-child {
		margin-left: 0;
	}
	> div:last-child {
		margin-right: 0;
	}
}

.trip-date {
	display: block;
	text-align: center;
	width: 28px;
	> span {
		display: block;
	}
	.day {
		font: {
			family: "bebas-neue",sans-serif;
			style: normal;
			weight: 400;
			size: rem-calc(21);
		};
		line-height: rem-calc(20);
	}
	.month {
		margin-top: rem-calc(5);
		background-color: #FF6362;
		line-height: rem-calc(9);
		padding: rem-calc(3) rem-calc(4);
		font: {
			family: arial;
			size: rem-calc(9);
			weight: bold;
		};
		color: white;
	}
}

// milestone
.milestone {
	margin-top: rem-calc(35);
}
.icon-milestone-wrapper {
	padding-top: 13px;
}

.pad-top-5 {
	padding-top: 5px;
}

.icon-milestone {
	.count {
		line-height: 30px;
		display: inline-block;
		font: {
			family: $font-base;
			weight: 700;
			size: rem-calc(13);
			style: normal;
		};
	}
}
.icon-pxl-milestone-starred {
	.count {
		margin: 7px 0 0 10px;
	}
}
.place-moment-header {
	margin-bottom: rem-calc(10);
}
.place-moment-heading {
	font: {
		family: $font-lg;
		size: rem-calc(23);
		weight: 600;
		style: normal;
	};
	line-height: rem-calc(36);
	.place-moment-heading-editor  {
		padding-left:0;
		@extend %inherit;
		@include placeholder-style(inherit, 23, #797979, inherit);
	}
}
.place-moment-sub {
	font: {
		family: $font-lg;
		size: rem-calc(23);
	};
	line-height: rem-calc(36);
	.place-moment-sub-editor {
		@extend %inherit;
		@include placeholder-style($font-lg, 23, #000000, inherit);
	}
}
.milestone-place {
	font: {
		family: $font-lg;
		weight: 600;
		size: rem-calc(38);
		style: normal;
	};
	margin-bottom: rem-calc(10);
	line-height: rem-calc(36);
	.milestone-place-editor {
		@extend %inherit;
		@include placeholder-style($font-lg, 28, #000000, inherit);
		font-size: 28px;
	}
}

.milestone-starred-count {
	margin: {
		top: rem-calc(8);
		left: rem-calc(10);
	};
}

.milestone-img-wrapper {
    margin-top: rem-calc(20);
    position: relative;
    img {
        cursor: pointer;
        &:hover {
            opacity: 0.7;
        }
    }
}
.milestone-img-actions {
	position: absolute;
	top: 10px;
	right: 15px;
}

.myThumbDivAutoAdd {
	cursor: pointer;
	&:hover {
		opacity: 0.7;
	}
}

.milestone-featured-star, .milestone-img-remove{
	background-color: #000000;
	display: inline-block;
	padding: 6px;
	color: #ffffff;
}

.milestone-img-sub {
	img {
		cursor: pointer!important;
		width: 100%;
	}
	&.thumb-level-one {
		width: 100%!important;
	}
	&.thumb-level-two {
		margin-top: rem-calc(5);
		.thumb-img-wrapper {
			width: 50%;
			float: left;
			overflow: hidden;

			&:last-child {
				img {
					margin-left: rem-calc(5);
				}
			}
		}		
	}
	&.thumb-level-three {
		margin-top: rem-calc(5);

		.thumb-img-wrapper {
			width: 33.33%;
			float: left;
			overflow: hidden;

			&:nth-child(2), &:last-child {
				img {
					margin-left: rem-calc(5);
				}
			}
		}
	}
}

.milestone-description {
	margin-top: rem-calc(20);
	.photo-uploader {
		display: block;
		margin-bottom: rem-calc(20);
	}
	p {
		font: {
			family: $font-base;
			size: rem-calc(14);
		};
		line-height: rem-calc(24);
		color: #797979;
		.inline-milestone-desc {
			@extend %inherit;
			@include placeholder-style($font-base, 14, #797979, inherit);
			box-shadow: none;
		}
	}
}

.milestone-status {
	line-height: rem-calc(13);
	padding: rem-calc(15) 0;
	font: {
		family: $font-base;
		size: rem-calc(13);
		weight: 700;
		style: normal;
	};
	.road-status {
		width: 15%;
		display: inline-block;
	}
	.road-status-dropdown {
		margin-bottom: 0;
		padding: 0;
		height: auto;
		border: 0;
		background-color: #fff;
		font-family: proxima-nova;
		font-size: 13px;
		padding-left: 0;
	}
	.condition {
		font: {
			weight: 400;
		};
	}
}

.trip-footer-wrapper {
	background-color: #F4F4F4;
}

.trip-footer-activities {}

.trip-footer-social {
	padding: rem-calc(50) 0 rem-calc(30) 0;
	border-bottom: 1px solid #d2d4db;
	.icon {
		position: relative;
		top: 3px;
		padding-right: rem-calc(8);
	}
}

.button--in-footer {
	border-radius: 50px;
}

.trip-footer {
	.trip-foo-btn {
		&:hover {
			background-color: #A0A5A8;
		}
		@extend .button--in-footer;
		background-color: #BDC2C5;
		color: #ffffff;
		padding: rem-calc(15) rem-calc(20);
		margin-right: rem-calc(10);
		position: relative;
		font: {
			family: $font-base;
			size: rem-calc(16);
			style: normal;
			weight: 700;
		};

		.icon-pxl {
			margin-top: rem-calc(-4);
			margin-right: rem-calc(6);
		}

		.share-tooltip {
			background-color: #ffffff;
			padding: 18px;
			position: absolute;
			top: -60px;
			left: 20px;
			border-radius: 3px;
			display: none;
			color: #000000;
			width: 420px;
			height: 55px;
			box-shadow: 1px 1px 4px 1px #ccc;
			&:after {
				content: "";
				width: 0;
				height: 0;
				border-left: 10px solid transparent;
				border-right: 10px solid transparent;
				border-top: 10px solid #fff;
				position: absolute;
				left: 30px;
				bottom: -10px;
			}

			.social-share-widget {
				float: left;
				margin-left: 5px;
			}
		}
	}
}
.trip-action{
	background-color: #00ac66 !important;
}

.trip-foo-flw-btn {
	@extend .button--in-footer;
	margin-top: rem-calc(15);
	background-color: #00c68e;
	font: {
		family: $font-base;
		weight: 700;
		size: rem-calc(14);
	};
}

.trip-post-meta {
	&.in-footer {
		margin: rem-calc(30) 0;
		p {
			color: #a7adb1;
			font: {
				family: $font-base;
				size: rem-calc(13);
			};
			line-height: rem-calc(22);
		}
	}
}

.trip-footer-activities {
	.follow {
		margin: rem-calc(10) 0;
		> div {
			display: inline-block;
		}
	}
	.has-border {
		border-bottom: 1px solid #E2E2E2;
	}
	.bio {
		margin: rem-calc(10) 0;
		p {
			margin: 0;
			font: {
				family: $font-base;
				size: rem-calc(13);
			};
			color: #595858;
		}
	}
	.user-info {
		padding: rem-calc(10) 0;
		.info {
			span {
				line-height: rem-calc(21);
			}
			margin-top: rem-calc(10);
			margin-left: rem-calc(20);
			display: inline-block;
			font: {
				family: $font-base;
				size: rem-calc(14);
				weight: 700;
			};
			line-height: rem-calc(16);
			.text {
				color: #898989;
				font: {
					style: normal;
					weight: 400;
				};
			}
		}
	}
	.comment-input {
		padding: rem-calc(25) 0 rem-calc(15) 0;
	}
	.comment-wrapper {
		margin-top: rem-calc(10);
	}
	.comment-activity {
		&:hover {
			.comments-meta {
				display: block;
			}
		}
		padding: rem-calc(30) 0;
		color: #6a737e;
		font: {
			family: $font-base;
			size: rem-calc(13);
			weight: 400;
			style: normal;
		};
		.commenter {
			a {
				color: #000000;
				font: {
					weight: 700;
					style: normal;
				};
			}
		}
	}
	.comment-input {
		input {
			border: 1px solid #e7e4e4;
			background-color: #ffffff;
		}
		.comment-post {
			background-color: #F0F0F0;
			color: #000000;
			border: 1px solid #e7e4e4;
			border-left: 0;
			border-bottom: 3px solid #e7e4e4;
			font: {
				family: $font-base;
				size: rem-calc(13);
				weight: 700;
				style: normal;
			};
		}
	}
	.comments {
		.comment-header {
			margin-bottom: rem-calc(10);
		}
		.comments-meta {
			font: {
				family: $font-base;
				size: rem-calc(11);
			};
			span, a {
				color: #a2aab3;
			}
		}
	}
}
.milestone-timeline-wrapper {
	margin-left: rem-calc(10);
	margin-top: rem-calc(20);
}
.milestone-timeline {
	position: relative;
	&:before {
		content: '';
		display: inline-block;
		position: absolute;
		bottom: 15px;
		top: 20px !important;
		width: 2px;
		background-color: #E6E8E9;
	}
	> li {
		position: relative;
		list-style: none;
        // border-left: 2px solid #E6E8E9;
        padding-left: 20px;
        a {
        	color: #89949a;
        	line-height: rem-calc(40);
        }
    }
}

.milestone-timeline {
	li {
		&:before {
			content: '';
			border: 2px solid #E6E8E9;
			background-color: #fff;
			display: inline-block;
			border-radius: 15px;
			width: 15px;
			height: 15px;
			position: absolute;
			left: -6px;
			top: 11px;
		}
	}
}

.road-trip-view {
	.follow {
		margin-top: rem-calc(15);
		font: {
			family: $font-base;
			size: rem-calc(13);
		};
		color: #595858;
		.count {
			color: #000000;
			font: {
				weight: 700;
			};
		}
	}
}

.milestone-timeline {
	> li {
		a {
			font: {
				font: $font-base;
				size: rem-calc(13);
				style: regular;
			};
            // color: #C8CFD2;
        }
        &.active {
        	a {
        		color: #000000;
        	}
        	&:before {
        		border: 2px solid #FF4418;
        	}
        }
    }
}

.milestone-meta {
    display: inline-block;
    margin-right: rem-calc(25);
    color: #C8CFD2;
    a {
        color: #C8CFD2;
    }
    &.right {
        margin-right: 0;
    }
    .meta-text {
        font: {
            family: $font-base;
            size: rem-calc(13);
        };
        line-height: rem-calc(24);
    }
    .meta-count {
        display: inline-block;
        vertical-align: text-bottom;
        @extend .meta-text;
    }
}
.dashboard-menu {
    .top-bar-section {
        ul {
            li {
                border-right: 1px solid #eef0f1;
                &:last-child {
                    border-right: 0;
                }
                &.active {
                    background-color: $links-color;
                }
                a {
                    color: $light-color-2;
                    font: {
                        family: $font-base;
                        size: rem-calc(13);
                        weight: 400;
                        style: normal;
                    };
                }
            }
        }
    }
}
/* ==========================================================================
   login modals
   parent class: landing-page login
   ========================================================================== */
.login-modal {
    border-radius: 4px;
    background-color: $login-modal-bg;
    width: rem-calc(360)!important;
    margin-left: -11%!important;
    margin-top: 20px;

    input {
        padding-left: rem-calc(15);
        margin-bottom: rem-calc(10);
        font: {
            size: rem-calc(16);
        }
        @include placeholder-style($font-base, 16, #8c8e92, white);
        background-color: white;
    }

    .close-reveal-modal{
        position: absolute;
        top: -40px;
        right: 0;
        color: #fff;
        width: rem-calc(26);
        height: rem-calc(26);
        @include border-radius(13);
        border: 2px solid #fff;
        font-size: 20px;
        line-height: rem-calc(24);
        text-align: center;
        background-color: transparent;
    }

    h2 {
        margin-bottom: rem-calc(25);
        text-align: center;
        font: {
            family: $font-base;
            size: rem-calc(24);
            style: normal;
            weight: 400;
        }
    }
    .info-text {
        color: $dark-color;
        margin-bottom: rem-calc(30);
        line-height: rem-calc(24);
        font: {
            size: rem-calc(18);
            family: $font-base;
        }
    }
    .help-text {
        margin-bottom: rem-calc(10);
        text-align: center;
        color: $login-modal-helptext;
        display: block;
        font: {
            family: $font-normal;
            size: rem-calc(12);         }
        .link {
            color: $dark-color;
        }
        &.xs {
            font: {
                size: rem-calc(12);
            }
            line-height: rem-calc(17);
            margin-bottom: rem-calc(15);
        }
    }
    section {
        padding: rem-calc(30) rem-calc(40) rem-calc(20) rem-calc(40);
    }
    .button-block {
        padding: rem-calc(12);
        margin-bottom: rem-calc(28);
        font: {
            size: rem-calc(16);
            family: $font-base;
            style: normal;
            weight: 700;
        }
    }
    .social-con {

        h2 {
            margin-bottom: rem-calc(18);
        }
        .button {
            height: rem-calc(42);
            width: rem-calc(82);
            padding: rem-calc(12);
            margin-right: rem-calc(10);
            &:last-child {
                margin-right: 0;
            }
        }
        background-color: $login-modal-social-bg;
    }
}
.social-fb {
	background-color: $facebook-btn-bg;

	&:hover {
		background-color: $facebook-btn-bg;
	}
}
.social-tw {
	background-color: $twitter-btn-bg;

	&:hover {
		background-color: $twitter-btn-bg;
	}
}
.social-gplus {
	background-color: $gplus-btn-bg;

	&:hover {
		background-color: $gplus-btn-bg;
	}
}

.has-radius-bottom {
       -webkit-border-bottom-right-radius: 4px;
        -webkit-border-bottom-left-radius: 4px;
        -moz-border-radius-bottomright: 4px;
        -moz-border-radius-bottomleft: 4px;
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
}

.page-landing {
	.wrap {
		width: 1000px;
		margin: 0 auto;
	}
	.feed {
		width: calc(33.33% - 12px);
	}

	.grey {
		background-color: $section-bg-grey;
	}

	.banner {
		background-image: url(../images/landing_cover.jpg);
		width: 100%;
		height: 100vh;
		background-size: cover;

		.top-bar-container {
			border-bottom: none;
			position: fixed;
			top: 0;
			width: 100%;
			z-index: 100;

			&.landing-navbar .top-bar {
				line-height: inherit;

				.top-bar-section {
					ul {
						&.links-pad-right {
							margin-right: 40px;
						}

						li {
							padding: 25px;

							& > a {
								color: #ffffff;
								text-transform: uppercase;
								padding: 0;

								&:hover {
									padding-bottom: 5px;
									border-bottom: 1px solid white;
								}
							}

							img.colored {
								display: none;
							}

							img.white {
								display: block;
							}
						}
					}

					div.right {
						padding: 17px 0;

						a:nth-child(n+2) {
							margin-left: 10px;
						}

						button, .button {
							top: 0;
							background-color: rgba(0, 0, 0, 0.3);
							border: 2px solid #ffffff;

							&:hover {
								background-color: rgba(255, 255, 255, 1);
								color: $links-color;
							}
						}
					}
				}
			}

			&.landing-navbar.scrolled {
				background-color: #ffffff;
				-webkit-transition: background-color 750ms linear;
				-moz-transition: background-color 750ms linear;
				-o-transition: background-color 750ms linear;
				-ms-transition: background-color 750ms linear;
				transition: background-color 750ms linear;
				border-bottom: 1px solid #e4e4e4;
				-moz-box-shadow: 0 -2px 4px 4px rgba(2, 2, 2, 0.10);
				-webkit-box-shadow: 0 -2px 4px 4px rgba(2, 2, 2, 0.10);
				box-shadow: 0 -2px 4px 4px rgba(2, 2, 2, 0.10);

				.top-bar {
					.top-bar-section {
						ul li {
							& > a {
								color: #000000;

								&:hover {
									border-bottom: 1px solid black;
								}
							}

							img.colored {
								display: block;
							}

							img.white {
								display: none;
							}
						}

						div.right {
							button, .button {
								background-color: rgba(255, 255, 255, 1);
								border-color: #000000;
								color: #000000;

								&:hover {
									color: rgba(255, 255, 255, 1);
									background-color: $links-color;
								}
							}
						}
					}
				}
			}

			&.landing-navbar .top-bar .top-bar-section:not(.has-form) a:not(.button) {
				line-height: rem-calc(13);
			}
		}

		.overlay {
			height: 100%;
			width: 100%;
			background-color: rgba(0, 0, 0, 0.25);

			.content {
				color: #ffffff;

				h1 {
					color: #ffffff;
					font: {
						family: $font-lg;
						weight: 300;
						size: rem-calc(52);
					}
					line-height: rem-calc(52);
					margin: 0;
				}

				h5 {
					margin: 25px 0 0 0;
					line-height: rem-calc(18);
					color: #ffffff;
				}

				.button.button-get-started {
					margin: 30px 0 0 0;
					padding: 18px 55px;
					font: {
						size: rem-calc(14);
						weight: 700;
					};

					&:hover {
						background-color: #00c474;
					}
				}

				.watch-video {
					margin-top: 100px;
					font: {
						size: rem-calc(11);
						font-family: Helvetica, Arial, sans-serif;
						weight: bold;
					}

					a {
						color: #ffffff;
					}

					span.icon-ln {
						margin-left: 8px;
						margin-top: -3px;
					}
				}

				p.attribution {
					margin: 25px 0 0 0;
					font: {
						size: rem-calc(11);
						font-family: Arial, sans-serif;
					}

					a {
						color: #ffffff;
						text-decoration: underline;
					}
				}
			}
		}
	}
	.meta-text {
		font: {
			family: $font-base;
			size: rem-calc(13);
		};
		line-height: rem-calc(24);
	}
	.meta-count {
		display: inline-block;
		vertical-align: text-bottom;
		@extend .meta-text;
	}
}
.dashboard-menu {
	.top-bar-section {
		ul {
			li {
				border-right: 1px solid #eef0f1;
				&:last-child {
					border-right: 0;
				}
				&.active {
					background-color: $links-color;
				}
				a {
					color: $light-color-2;
					font: {
						family: $font-base;
						size: rem-calc(13);
						weight: 600;
						style: normal;
					};
				}
			}
		}
	}
}

/* ==========================================================================
   login modals
   parent class: landing-page login
   ========================================================================== */
   .login-modal {
   	border-radius: 4px;
   	background-color: $login-modal-bg;
   	width: rem-calc(360)!important;
   	margin-left: -11%!important;

   	input {
   		padding-left: rem-calc(15);
   		margin-bottom: rem-calc(10);
   		font: {
   			size: rem-calc(16);
   		}
   		@include placeholder-style($font-base, 16, #8c8e92, white);
   		background-color: white;
   	}

   	.close-reveal-modal{
   		position: absolute;
   		top: -40px;
   		right: 0;
   		color: #fff;
   		width: rem-calc(26);
   		height: rem-calc(26);
   		@include border-radius(13);
   		border: 2px solid #fff;
   		font-size: 20px;
   		line-height: rem-calc(24);
   		text-align: center;
   		background-color: transparent;
   	}

   	h2 {
   		margin-bottom: rem-calc(25);
   		text-align: center;
   		font: {
   			family: $font-base;
   			size: rem-calc(24);
   			style: normal;
   			weight: 400;
   		}
   	}
   	.info-text {
   		color: $dark-color;
   		margin-bottom: rem-calc(30);
   		line-height: rem-calc(24);
   		font: {
   			size: rem-calc(18);
   			family: $font-base;
   		}
   	}
   	.help-text {
   		margin-bottom: rem-calc(10);
   		text-align: center;
   		color: $login-modal-helptext;
   		display: block;
   		font: {
   			family: $font-normal;
   			size: rem-calc(12);         }
   			.link {
   				color: $dark-color;
   			}
   			&.xs {
   				font: {
   					size: rem-calc(12);
   				}
   				line-height: rem-calc(17);
   				margin-bottom: rem-calc(15);
   			}
   		}
   		section {
   			padding: rem-calc(30) rem-calc(40) rem-calc(20) rem-calc(40);
   		}
   		.button-block {
   			padding: rem-calc(12);
   			margin-bottom: rem-calc(28);
   			font: {
   				size: rem-calc(16);
   				family: $font-base;
   				style: normal;
   				weight: 700;
   			}
   		}
   		.social-con {

   			h2 {
   				margin-bottom: rem-calc(18);
   			}
   			.button {
   				height: rem-calc(42);
   				width: rem-calc(82);
   				padding: rem-calc(12);
   				margin-right: rem-calc(10);
   				&:last-child {
   					margin-right: 0;
   				}
   			}
   			background-color: $login-modal-social-bg;
   		}
   	}

   	.social-fb {
   		background-color: $facebook-btn-bg;

   		&:hover {
   			background-color: $facebook-btn-bg;		
   		}
   	}
   	.social-tw {
   		background-color: $twitter-btn-bg;

   		&:hover {
   			background-color: $twitter-btn-bg;		
   		}
   	}
   	.social-gplus {
   		background-color: $gplus-btn-bg;

   		&:hover {
   			background-color: $gplus-btn-bg;		
   		}
   	}

   	.has-radius-bottom {
   		-webkit-border-bottom-right-radius: 4px;
   		-webkit-border-bottom-left-radius: 4px;
   		-moz-border-radius-bottomright: 4px;
   		-moz-border-radius-bottomleft: 4px;
   		border-bottom-right-radius: 4px;
   		border-bottom-left-radius: 4px;
   	}

   	.page-landing {
   		.wrap {
   			width: 1000px;
   			margin: 0 auto;
   		}

   		.grey {
   			background-color: $section-bg-grey;
   		}

   		.banner {
   			background-image: url(../images/landing_cover.jpg);
   			width: 100%;
   			height: 100vh;
   			background-size: cover;

   			.overlay {
   				height: 100%;
   				width: 100%;
   				background-color: rgba(0, 0, 0, 0.25);

   				.content {
   					color: #ffffff;

   					h1 {
   						color: #ffffff;
   						font: {
   							family: $font-lg;
   							weight: 300;
   							size: rem-calc(52);
   						}
   						line-height: rem-calc(52);
   						margin: 0;
   					}

   					h5 {
   						margin: 25px 0 0 0;
   						line-height: rem-calc(18);
   						color: #ffffff;
   					}

   					.button.button-get-started {
   						margin: 30px 0 0 0;
   						padding: 18px 55px;
   						font: {
   							size: rem-calc(14);
   							weight: 700;
   						};

   						&:hover {
   							background-color: #00c474;
   						}
   					}

   					.watch-video {
   						margin-top: 100px;
   						font: {
   							size: rem-calc(11);
   							font-family: Helvetica, Arial, sans-serif;
   							weight: bold;
   						}

   						a {
   							color: #ffffff;
   						}

   						span.icon-ln {
   							margin-left: 8px;
   							margin-top: -3px;
   						}
   					}

   					p.attribution {
   						margin: 25px 0 0 0;
   						font: {
   							size: rem-calc(11);
   							font-family: Arial, sans-serif;
   						}

   						a {
   							color: #ffffff;
   							text-decoration: underline;
   						}
   					}
   				}
   			}
   		}

   		h3.section-title {
   			color: #000000;
   			font: {
   				size: rem-calc(28);
   				weight: 700;
   			};
   		}

   		.section-pad {
   			padding: 65px 0;
   		}

   		.concept {
   			.intro-text {
   				color: $light-color-2;
   				line-height: 155%;
   				font: {
   					size: rem-calc(18);
   					family: $font-base;
   				};
   				padding: 0 80px;
   			}

   			.features {
   				margin-top: 80px;

   				.feature {
   					width: 25%;
   					float: left;

   					.round {
   						border-radius: 1000px;
   					}

   					.feature-icon {
   						background-color: #000000;
   						height: 74px;
   						width: 74px;
   					}

   					.feature-desc {
   						margin-top: 20px;
   						line-height: 155%;
   					}
   				}
   			}
   		}

   		.join-now {
   			.wrap {
   				width: 660px;
   			}

   			h3 {
   				margin: 0;
   			}

   			h6.how-to-connect {
   				color: $light-color-2;
   				margin: 8px 0 0 0;
   			}

   			.social-connect-buttons {
   				margin-top: 25px;

   				button, .button {
   					padding-left: 0;

   					&.social-gplus {
   						padding-top: 8px;
   						padding-bottom: 8px;
   					}
   				}

   				a {
   					span {
   						padding: 9px 0 10px 0;
   					}

   					> span:first-child {
   						border-right: 1px solid;
   						margin-right: 20px;
   						padding-right: 12px;
   						padding-left: 12px;
   					}

   					&.social-fb {
   						span:first-child {
   							border-color: #203b71;
   						}
   					}

   					&.social-tw {
   						span:first-child {
   							border-color: #0e7ba9;
   						}
   					}

   					&.social-gplus {
   						span:first-child {
   							border-color: #ae1800;
   						}
   					}
   				}
   			}

   			p.alternate-login {
   				margin-top: 12px;
   				color: $light-color-2;

   				a {
   					font-weight: 700;
   				}
   			}

   			.divider {
   				height: 1px;
   				width: 100%;
   				margin: 25px 0;
   				background-color: #e6e6e6;
   			}

   			.play-around-text {
   				font-size: rem-calc(13);
   				color: $light-color-2;

   				a {
   					color: #000000;
   				}
   			}
   		}
   	}

   	.page-faq {
   		.grey-bg {
   			background-color: #f8f8f8;
   		}

   		.wrap {
   			width: 660px;
   			margin: 0 auto;
   		}

   		.distance-to-viewport {
   			padding: 150px 0;
   		}

   		.title_search {
   			text-align: center;

   			h2 {
   				color: #000000;
   				font: {
   					size: rem-calc(30);
   					weight: 700;
   				};
   				line-height: rem-calc(30);
   				margin-bottom: 60px;
   			}

   			input {
   				margin: 25px 0 35px 0;
   				width:100%;
   				height: 48px;
   				border-width: 0;
   				background-color: #ffffff;

   				input:focus {
   					border-width: 0;
   				}
   			}
   		}

   		.faqs-container {
   			.faq {
	   			h2 {
	   				text-align:center;
	   				color: #00ac66;
	   				font: {
	   					size: rem-calc(28);;
	   				};
	   				line-height: rem-calc(28);
	   				margin-bottom: 50px;
	   			}

   				h3 {
   					color:black;
   					font-size: rem-calc(24);
   				}

   				p {
   					font-size: rem-calc(13);
   					line-height: rem-calc(22);
   					color: #848484;
   					margin-bottom: 60px;
   				}
   			}
   		}
   	}


   	.page-how-it-works {
   		.grey-bg {
   			background-color: #f8f8f8;
   		}

   		.wrap {
   			max-width:1200px;
   			margin: 0 auto;
   		}

   		.distance-to-viewport {
   			padding: 150px 0 0 0;
   		}

   		.how-container {
   			.how{
   				clear:both;
   				height:420px;

   				.how_store{
   					max-width:50%;
   					float:left;
   					padding-right:20px;
   				}
   				.how_share{
   					max-width:50%;
   					float:right;
   				}
   				.how_search{
   					max-width:50%;
   					float:left;
   				}
   				.how_follow{
   					max-width:50%;
   					float:right;
   				}
   				   			
	   			h2 {
	   				text-align:center;
	   				color: #00ac66;
	   				font: {
	   					size: rem-calc(28);;
	   				};
	   				line-height: rem-calc(28);
	   				padding-top:60px;
	   				margin-bottom: 30px;
	   			}

   				p {
   					font-size: rem-calc(16);
   					line-height: rem-calc(25);
   					color: #848484;
   					text-align:justify;
   				}
   			}
   		}
   	}


   	.static-pages-navbar {
   		background-color: #ffffff;
   		border-bottom: 1px solid #e4e4e4;
   		-moz-box-shadow: 0 -2px 4px 4px rgba(2, 2, 2, 0.10);
   		-webkit-box-shadow: 0 -2px 4px 4px rgba(2, 2, 2, 0.10);
   		box-shadow: 0 -2px 4px 4px rgba(2, 2, 2, 0.10);

   		&.top-bar-container {
   			border-bottom: none;
   			position: fixed;
   			top: 0;
   			width: 100%;
   			z-index: 100;
   		}

   		.top-bar .top-bar-section:not(.has-form) a:not(.button) {
   			line-height: rem-calc(13);
   		}

   		.top-bar {
   			line-height: inherit;

   			.top-bar-section {
   				ul {
   					&.links-pad-right {
   						margin-right: 40px;
   					}

   					li {
   						padding: 25px;
   						
   						& > a {
   							color: #000000;
   							text-transform: uppercase;
   							padding: 0;

   							&:hover {
   								padding-bottom: 5px;
   								border-bottom: 1px solid black;
   							}
   						}
   					}
   				}

   				div.right {
   					padding: 17px 0;

   					a:nth-child(n+2) {
   						margin-left: 10px;
   					}

   					button, .button {
   						top: 0;
   						background-color: rgba(255, 255, 255, 1);
   						border: 2px solid #000000;
   						color: #000000;

   						&:hover {
   							color: rgba(255, 255, 255, 1);
   							background-color: $links-color;
   						}
   					}
   				}
   			}
   		}
   	}
   	.no-trips {
   		height: 500px;
   		text-align: center;
   		> .centered {
   			background-color: #e7eaec;
   			width: 350px;
   			height: 200px;
   			border-radius: 8px;
   		}
   		a{
   			.icon-pxl {
	   			margin-top: rem-calc(35);
	   			margin-bottom: rem-calc(35);
	   			&:hover {
					background-color: #00ac66;
   					}
	   		}

	   		.text {
	   			font: {
	   				family: $font-base;
	   				size: rem-calc(18);
	   				style: normal;
	   				weight: 400;
	   			}
	   			display: block; 
	   			line-height: rem-calc(30);
	   			color: #8c8e92;
	   			&:hover {
					color: #00ac66;
   				}
	   		}
   		}
   	}

   	.no-trips-feed {
   		height: 800px;
   		text-align: center;
   		> .message-container {
   			background-color: #e7eaec;
   			width: 400px;
   			height: 400px;
   			border-radius: 8px;
   			display:inline-block;
   		}
		.icon-pxl {
   			margin-top: rem-calc(35);
   			margin-bottom: rem-calc(35);
   		}

   		.text {
   			font: {
   				family: $font-base;
   				size: rem-calc(18);
   				style: normal;
   				weight: 400;
   			}
   			display: block; 
   			line-height: rem-calc(30);
   			color: #8c8e92;
   		}
   	}

   	/*notification dropdown*/
   	.top-bar-section .notification-drop {
   		width: 290px;
   		border-radius: 6px;
   		box-shadow: 2px 5px 11px -4px #ccc;
   		margin-top: -5px;
   		position: absolute;
		z-index: 9999999999;
		background-color: #fff !important;
		display: none;

   		&:before {
   			content: "";
   			width: 0;
			height: 0;
			border-left: 8px solid transparent;
			border-right: 8px solid transparent;
			border-bottom: 10px solid #f8f8f8;
			position: absolute;
			left: 50px;
			top: -10px;
   		}
		li.head {
			background-color: #f8f8f8 !important;
			width: 100%;
			border-radius: 6px 6px 0 0;
			span {
				padding: 10px 15px;
				font-family: $font-base;
				font-size: rem-calc(13);
				color: $light-color-1;
			}
		}
		li.view-all {
			border-radius: 0 0 4px 4px;
			a:not(.button){
				color: $links-color;
				padding: 0 15px;
				text-align: left;
				line-height: 35px !important;
			}
		}
	   	li.notif{	
	   		width: 290px;
	   		border-bottom: 1px solid #ccc;	
	   		a{
	   			width: 100%;
	   			padding: 12px 15px;
	   			float: left;
		   		.img-box {
		   			float: left;
		   			margin-right: 10px;
		   			margin-top: 4px; 
		   		}
		   		.content-box {
		   			float: left;
		   			width: 80%;
		   		}
		   		.account-img-actor {
		   			margin-top: 0 !important; 
		   		}
		   		.summry {
		   			font-size: rem-calc(13);
		   			color:$dark-color;
		   			margin: 0;
		   			width: 100%;
		   			white-space: normal;
		   			text-align: left;
		   		}
		   		.time {
		   			font-family: $font-base;
					font-size: rem-calc(13);
					color: $light-color-1;
					margin: 0;
					text-align: left;
		   		}
		   	}
		}
   	}

/* profile activity */
 .profile-activity-content {
 	background: #fff;
 	h3 {
 		font-family: $font-base;
		font-size: rem-calc(15);
		text-transform: uppercase;
		padding: 20px 15px;
		margin: 0;
		border-bottom: 1px solid #eeeaea;
 	}
 	.lists {
 		margin: 0;
 		li {
 			list-style: none;
 			padding: 15px;
 			border-bottom: 1px solid #eeeaea;
 			.summry {
 				font-size: rem-calc(13);
 				color:$dark-color;
 				margin: 0;
 				width: 100%;
 				white-space: normal;
 				text-align: left;
 			}
 			.time {
 				font-family: $font-base;
 				font-size: rem-calc(13);
				font-weight: 600;
 				color: $light-color-1;
 				margin: 0;
 				text-align: left;
 			}
 			.content {
 				font-family: $font-base;
 				font-size: rem-calc(13);
 				color: $light-color-1;
 				margin: 0;
 			}
 			.button-comment {
				background: #f9f9f9;
				color: #89949a;
				margin: 35% 0;
 			}
 		}
 		.wthcntnt {
 			.mid {
 				padding-top: 10px;
 			}
 			.button {
 				margin: 15px 0;
 			}
 		}
 		.wtcntnt {
 			.mid {
 				width: 90%;
 			}
 		}
 	}
 	.view-older {
 		background: $section-bg-grey;
 		padding: 20px 15px;
 		a {
	 		font-family: $font-base;
	 		font-size: rem-calc(14);
			font-weight: 600;
	 		color: $light-color-1;
	 	}
 	}
 }

 .unsigned-header.top-bar-container {
   				border-bottom: none;
   				position: fixed;
   				top: 0;
   				width: 100%;
   				z-index: 100;

   				&.landing-navbar .top-bar {
   					line-height: inherit;

   					.top-bar-section {
   						ul {
   							&.links-pad-right {
   								margin-right: 40px;
   							}

   							li {
   								padding: 25px;

   								& > a {
   									color: #ffffff;
   									text-transform: uppercase;
   									padding: 0;

   									&:hover {
   										padding-bottom: 5px;
   										border-bottom: 1px solid white;
   									}
   								}

   								img.colored {
   									display: none;
   								}

   								img.white {
   									display: block;
   								}
   							}
   						}

   						div.right {
   							padding: 17px 0;

   							a:nth-child(n+2) {
   								margin-left: 10px;
   							}

   							button, .button {
   								top: 0;
   								background-color: rgba(0, 0, 0, 0.3);
   								border: 2px solid #ffffff;

   								&:hover {
   									background-color: rgba(255, 255, 255, 1);
   									color: $links-color;
   								}
   							}
   						}
   					}
   				}

   				&.landing-navbar.scrolled {
   					background-color: #ffffff;
   					-webkit-transition: background-color 750ms linear;
   					-moz-transition: background-color 750ms linear;
   					-o-transition: background-color 750ms linear;
   					-ms-transition: background-color 750ms linear;
   					transition: background-color 750ms linear;
   					border-bottom: 1px solid #e4e4e4;
   					-moz-box-shadow: 0 -2px 4px 4px rgba(2, 2, 2, 0.10);
   					-webkit-box-shadow: 0 -2px 4px 4px rgba(2, 2, 2, 0.10);
   					box-shadow: 0 -2px 4px 4px rgba(2, 2, 2, 0.10);

   					.top-bar {
   						.top-bar-section {
   							ul li {
   								& > a {
   									color: #000000;

   									&:hover {
   										border-bottom: 1px solid black;
   									}
   								}

   								img.colored {
   									display: block;
   								}

   								img.white {
   									display: none;
   								}
   							}

   							div.right {
   								button, .button {
   									background-color: rgba(255, 255, 255, 1);
   									border-color: #000000;
   									color: #000000;

   									&:hover {
   										color: rgba(255, 255, 255, 1);
   										background-color: $links-color;
   									}
   								}
   							}
   						}
   					}
   				}

   				&.landing-navbar .top-bar .top-bar-section:not(.has-form) a:not(.button) {
   					line-height: rem-calc(13);
   				}
   			}

   	footer {
   		.footer-pad {
   			padding: 30px 0;
   		}

   		.section-pad {
   			padding: 65px 0;
   		}

   		.wrap {
   			width: 1000px !important;
   			margin: 0 auto;
   		}

   		.grey {
   			background-color: #f1f1f1;
   		}

   		.nav-links {
   			border-top: 1px solid #e6e6e6;

   			ul {
   				margin: 0;
   				list-style: none;

   				li {
   					display: inline-block;

   					&:nth-child(n+2) {
   						margin-left: 24px;
   					}

   					a {
   						color: $light-color-2;
   						font-size: rem-calc(13);

   						&:hover {
   							color: #000000;
   						}
   					}
   				}
   			}
   		}
   	}
   	/*comment input extra space*/
   	#addCommentForm {
   		.small-10 {
   			padding-right: 0;
   		}
   		.small-2 {
   			padding-left: 0;
   		}
   	}
   	/*Report Modal*/
   	.report-modal {
   		.info-text {
   			font: {
   				size: rem-calc(16);
   				family: $font-base;
   			}
   		}
   		.form-radio {
   			padding-bottom: 10px;
   			label {
   				font-weight: normal;
   			}
   			input {
   				margin-right: 12px;
   			}
   		}
   	}
/* new addition */
.imgwrap {
	position: relative;
	.count-map-loc{
		color: #ffffff;
	    font-weight: bold;
	    left: 13px;
	    position: absolute;
	    top: 8px;
	}
}