.dz-wrapper {
	.dropzone-1 {
		min-height: rem-calc(280);
		&.dz-started {
			.dz-message {
				opacity: 0;  
			}        
		}
	}
	position: relative;

	.dz-error-mark, .dz-success-mark {
		display: none;
	}
	.dz-preview {
		position: relative;
		display: inline-block;
	}
	.dz-make-featured, .dz-remove {
		position: absolute;
		top: 8px;
		background-color: #000000;
		color: #ffffff;
		padding: rem-calc(7);
		font-size: rem-calc(12);
	}
	.dz-make-featured {
		right: 44px;
	}
	.dz-remove {
		right: 10px;
	}
	.dz-default {
        width: 100%;
        top: 28%;  
		> span {
//			display: none;
		}
		position: absolute;
		// min-height: rem-calc(280);
		// width: 100%;
		// left: 50%;
		// top: 50%;
		// margin-top: -120px;
		// margin-left: -212px;
		// background: {
		// 	image: url("../images/add-image.png");
		// 	repeat: no-repeat;
		// 	size: 90%;
		// 	position: center;
		// };
	}
}

// targetting image using nth-child
.dropzone-1 {
	> div {
		&:nth-child(2) {
			margin-top: rem-calc(5);
			margin-right: rem-calc(5);
		}
		&:nth-child(3) {
			margin-top: rem-calc(5);
		}
		&:nth-child(4) {
			margin-top: rem-calc(5);
			margin-right: rem-calc(5);
		}
		&:nth-child(5) {
			margin-top: rem-calc(5);
			margin-right: rem-calc(5);
		}
		&:nth-child(6) {
			margin-top: rem-calc(5);
		}
	}
}