.icon-ln {
    background-image: url(../images/landing_spritesheet.png);
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    margin-top: 1px;
    margin-left: 5px;
}

.icon-ln-bubble-double {
    width: 32px;
    height: 32px;
    background-position: -2px -2px;
}

.icon-ln-compass {
    width: 32px;
    height: 32px;
    background-position: -38px -2px;
}

.icon-ln-fb {
    width: 9px;
    height: 17px;
    background-position: -2px -38px;
}

.icon-ln-gplus {
    width: 21px;
    height: 21px;
    background-position: -15px -38px;
}

.icon-ln-pin {
    width: 24px;
    height: 32px;
    background-position: -40px -38px;
}

.icon-ln-play-video {
    width: 19px;
    height: 19px;
    background-position: -74px -2px;
}

.icon-ln-search {
    width: 28px;
    height: 28px;
    background-position: -74px -25px;
}

.icon-ln-twitter-black {
    width: 16px;
    height: 13px;
    background-position: -68px -57px;
}

.icon-ln-twitter-white {
    width: 20px;
    height: 17px;
    background-position: -2px -74px;
}
