/*
Author  : Hunter Perrin
Version : 2.0.1
Link    : http://sciactive.com/pnotify/
*/
/* -- Notice */

.ui-pnotify {
    top: 25px;
    right: 25px;
    position: absolute;
    height: auto;
    /* Ensures notices are above everything */
    z-index: 9999;
    .alert:before {
    	display: block;
		width: 9px;
		content: '';
		height: 100%;
		position: absolute;
		padding: 0;
		margin: 0;
		left: 0px;
		top: 0;
		border-radius: 6px 0 0 6px;
    }
    .alert-danger {
			&:before {
				background-color: #FF5555;	
			}
		}
	.alert-success {
		&::before {
			background-color: #00AC66;
		}
	}
}

/* Hides position: fixed from IE6 */

html > body > .ui-pnotify {
    position: fixed;
}

.ui-pnotify .ui-pnotify-shadow {
    -webkit-box-shadow: 0px 2px 10px rgba(50, 50, 50, 0.5);
    -moz-box-shadow: 0px 2px 10px rgba(50, 50, 50, 0.5);
    box-shadow: 0px 2px 10px rgba(50, 50, 50, 0.5);
}

.ui-pnotify-container {
	background-color: rgba(black,1);
	border-radius: 8px;
    background-position: 0 0;
    padding: .8em;
    padding-left: rem-calc(25);
    height: 100%;
    margin: 0;
}

.ui-pnotify-sharp {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.ui-pnotify-title {
	font: {
    	family: proxima-nova, arial;
    	size: rem-calc(14);
    	weight: 700;
    }
	color: #ffffff;
    display: block;
    margin-bottom: .4em;
    margin-top: 0;
}

.ui-pnotify-text {
    display: block;
    color: #ffffff;
    font: {
    	family: proxima-nova, arial;
    	size: rem-calc(14);
    }
}

.ui-pnotify-icon {
    display: block;
    float: left;
    margin-right: .2em;
    span {
        display: block;
        float: left;
        margin-right: .2em;
    }
}

/* Alternate stack initial positioning. */

.ui-pnotify {
	position: relative;
    &.stack-topleft, &.stack-bottomleft {
        left: 25px;
        right: auto;
    }
    &.stack-bottomright, &.stack-bottomleft {
        bottom: 25px;
        top: auto;
    }
}
.ui-pnotify-closer {
	position: absolute;
	top: -25px;
	right: -25px;
}
.ui-pnotify-closer, .ui-pnotify-sticker {
    float: right;
    margin-left: .2em;
}