.icon-pxl {
    background-image: url(../images/roadmojo_spritesheet.png);
    display: inline-block;
    overflow: hidden;
}

.icon-pxl-activity-black {
    width: 14px;
    height: 16px;
    background-position: -10px -10px;
}

.icon-pxl-activity-gray {
    width: 14px;
    height: 16px;
    background-position: -44px -10px;
}

.icon-pxl-cancel-dashboard-gray {
    width: 15px;
    height: 15px;
    background-position: -78px -10px;
}

.icon-pxl-cancel-dashboard-white {
    width: 15px;
    height: 15px;
    background-position: -113px -10px;
}

.icon-pxl-close-bold-black {
    width: 11px;
    height: 11px;
    background-position: -148px -10px;
}

.icon-pxl-close-bold-red {
    width: 11px;
    height: 11px;
    background-position: -179px -10px;
}

.icon-pxl-close-bold-white {
    width: 11px;
    height: 11px;
    background-position: -210px -10px;
}

.icon-pxl-close-thin-black {
    width: 9px;
    height: 9px;
    background-position: -241px -10px;
}

.icon-pxl-close-thin-white {
    width: 9px;
    height: 9px;
    background-position: -270px -10px;
}

.icon-pxl-cloud-draft-black {
    width: 18px;
    height: 12px;
    background-position: -299px -10px;
}

.icon-pxl-cloud-draft-gray {
    width: 18px;
    height: 12px;
    background-position: -337px -10px;
}

.icon-pxl-comment-black {
    width: 15px;
    height: 12px;
    background-position: -375px -10px;
}

.icon-pxl-comment-gray {
    width: 15px;
    height: 12px;
    background-position: -410px -10px;
}

.icon-pxl-comment-red {
    width: 15px;
    height: 12px;
    background-position: -445px -10px;
}

.icon-pxl-comment-white {
    width: 18px;
    height: 14px;
    background-position: -148px -42px;
}

.icon-pxl-compass-lg {
    width: 48px;
    height: 48px;
    background-position: -186px -42px;
}

.icon-pxl-drafts-dashboard-gray {
    width: 14px;
    height: 14px;
    background-position: -254px -42px;
}

.icon-pxl-drafts-dashboard-white {
    width: 14px;
    height: 14px;
    background-position: -288px -42px;
}

.icon-pxl-edit-popup {
    width: 15px;
    height: 14px;
    background-position: -322px -42px;
}

.icon-pxl-edit-white {
    width: 16px;
    height: 16px;
    background-position: -357px -42px;
}

.icon-pxl-eye-dashboard-gray {
    width: 21px;
    height: 13px;
    background-position: -393px -42px;
}

.icon-pxl-eye-dashboard-white {
    width: 21px;
    height: 13px;
    background-position: -434px -42px;
}

.icon-pxl-eye-preview {
    width: 16px;
    height: 10px;
    background-position: -10px -75px;
}

.icon-pxl-fb-black {
    width: 8px;
    height: 16px;
    background-position: -475px -42px;
}

.icon-pxl-fb-gray {
    width: 10px;
    height: 18px;
    background-position: -46px -78px;
}

.icon-pxl-fb-social-gray {
    width: 8px;
    height: 16px;
    background-position: -76px -78px;
}

.icon-pxl-fb-tab-default {
    width: 17px;
    height: 17px;
    background-position: -104px -75px;
}

.icon-pxl-fb-tab-white {
    width: 17px;
    height: 17px;
    background-position: -393px -75px;
}

.icon-pxl-fb-white {
    width: 10px;
    height: 18px;
    background-position: -141px -78px;
}

.icon-pxl-featured-star {
    width: 23px;
    height: 24px;
    background-position: -430px -75px;
}

.icon-pxl-feed-help-default {
    width: 16px;
    height: 16px;
    background-position: -10px -119px;
    &:hover {
        @extend .icon-pxl-feed-help-hover;
    }
}

.icon-pxl-feed-help-hover {
    width: 16px;
    height: 16px;
    background-position: -46px -119px;
}

.icon-pxl-globe-black {
    width: 16px;
    height: 16px;
    background-position: -82px -119px;
}

.icon-pxl-globe-gray {
    width: 16px;
    height: 16px;
    background-position: -118px -119px;
}

.icon-pxl-globe-white {
    width: 16px;
    height: 16px;
    background-position: -154px -119px;
}

.icon-pxl-gplus-black {
    width: 18px;
    height: 18px;
    background-position: -190px -119px;
}

.icon-pxl-gplus-dark-gray {
    width: 18px;
    height: 18px;
    background-position: -228px -119px;
}

.icon-pxl-gplus-gray {
    width: 18px;
    height: 18px;
    background-position: -266px -119px;
}

.icon-pxl-gplus-gray {
    width: 18px;
    height: 18px;
    background-position: -304px -119px;
}

.icon-pxl-gplus-white {
    width: 18px;
    height: 18px;
    background-position: -342px -119px;
}

.icon-pxl-img-count {
    width: 14px;
    height: 15px;
    background-position: -254px -78px;
}

.icon-pxl-leaf {
    width: 28px;
    height: 28px;
    background-position: -380px -119px;
}

.icon-pxl-like-black {
    width: 15px;
    height: 13px;
    background-position: -428px -119px;
}

.icon-pxl-like-gray {
    width: 15px;
    height: 13px;
    background-position: -463px -119px;
}

.icon-pxl-like-red {
    width: 15px;
    height: 13px;
    background-position: -428px -152px;
}

.icon-pxl-like-white {
    width: 18px;
    height: 14px;
    background-position: -463px -152px;
}

.icon-pxl-lock-icon {
    width: 12px;
    height: 13px;
    background-position: -288px -78px;
}

.icon-pxl-marker-black {
    width: 32px;
    height: 32px;
    background-position: -10px -185px;
}

.icon-pxl-marker-red {
    width: 32px;
    height: 32px;
    background-position: -62px -186px;
}

.icon-pxl-milestone {
    width: 32px;
    height: 32px;
    background-position: -114px -186px;
}

.icon-pxl-milestone-add {
    width: 32px;
    height: 18px;
    background-position: -166px -185px;
}

.icon-pxl-milestone-arrow {
    width: 20px;
    height: 10px;
    background-position: -218px -186px;
}

.icon-pxl-milestone-popup {
    width: 15px;
    height: 14px;
    background-position: -258px -186px;
}

.icon-pxl-milestone-see-info {
    width: 14px;
    height: 14px;
    background-position: -320px -78px;
}

.icon-pxl-milestone-starred {
    width: 40px;
    height: 37px;
    background-position: -293px -185px;
}

.icon-pxl-modal-close {
    width: 26px;
    height: 26px;
    background-position: -353px -186px;
}

.icon-pxl-moment-add {
    width: 32px;
    height: 18px;
    background-position: -399px -185px;
}

.icon-pxl-moment-do {
    width: 72px;
    height: 72px;
    background-position: -166px -223px;
}

.icon-pxl-moment-do-active {
    width: 72px;
    height: 72px;
    background-position: -399px -223px;
}

.icon-pxl-moment-experience {
    width: 72px;
    height: 72px;
    background-position: -10px -315px;
}

.icon-pxl-moment-experience-active {
    width: 72px;
    height: 72px;
    background-position: -102px -315px;
}

.icon-pxl-moment-food {
    width: 72px;
    height: 72px;
    background-position: -194px -315px;
}

.icon-pxl-moment-food-active {
    width: 72px;
    height: 72px;
    background-position: -286px -315px;
}

.icon-pxl-moment-see {
    width: 72px;
    height: 72px;
    background-position: -378px -315px;
}

.icon-pxl-moment-see-active {
    width: 72px;
    height: 72px;
    background-position: -10px -407px;
}

.icon-pxl-moment-stay {
    width: 72px;
    height: 72px;
    background-position: -102px -407px;
}

.icon-pxl-moment-stay-active {
    width: 72px;
    height: 72px;
    background-position: -194px -407px;
}

.icon-pxl-new-roadtrip {
    width: 20px;
    height: 20px;
    background-position: -286px -407px;
}

.icon-pxl-notification-close {
    width: 54px;
    height: 54px;
    background-position: -326px -407px;
}

.icon-pxl-photo {
    width: 32px;
    height: 32px;
    background-position: -400px -407px;
}

.icon-pxl-places-black {
    width: 12px;
    height: 16px;
    background-position: -354px -78px;
}

.icon-pxl-places-gray {
    width: 12px;
    height: 16px;
    background-position: -473px -78px;
}

.icon-pxl-places-milestone {
    width: 10px;
    height: 15px;
    background-position: -451px -186px;
}

.icon-pxl-plus-sidebar {
    width: 8px;
    height: 8px;
    background-position: -258px -221px;
    &:hover {
        @extend .icon-pxl-plus-sidebar-dark;
    }
}

.icon-pxl-plus-sidebar-dark {
    width: 8px;
    height: 8px;
    background-position: -470px -315px;
}

.icon-pxl-plus-tab {
    width: 16px;
    height: 16px;
    background-position: -470px -343px;
}

.icon-pxl-plus-white {
    width: 11px;
    height: 11px;
    background-position: -470px -379px;
}

.icon-pxl-remove-cross-white {
    width: 18px;
    height: 18px;
    background-position: -452px -410px;
}

.icon-pxl-roadtrip-black {
    width: 17px;
    height: 17px;
    background-position: -286px -448px;
}

.icon-pxl-roadtrip-gray {
    width: 17px;
    height: 17px;
    background-position: -452px -448px;
}

.icon-pxl-search-black {
    width: 14px;
    height: 14px;
    background-position: -503px -10px;
}

.icon-pxl-search-close-black {
    width: 14px;
    height: 14px;
    background-position: -503px -44px;
}

.icon-pxl-search-hover {
    width: 14px;
    height: 14px;
    background-position: -505px -78px;
}

.icon-pxl-search-red {
    width: 18px;
    height: 18px;
    background-position: -498px -114px;
}

.icon-pxl-see-milestone {
    width: 38px;
    height: 32px;
    background-position: -286px -485px;
}

.icon-pxl-share {
    width: 20px;
    height: 16px;
    background-position: -501px -152px;
}

.icon-pxl-star-black {
    width: 18px;
    height: 18px;
    background-position: -491px -188px;
}

.icon-pxl-suggested {
    width: 18px;
    height: 18px;
    background-position: -491px -226px;
}

.icon-pxl-tick-bold-black {
    width: 12px;
    height: 10px;
    background-position: -10px -264px;
}

.icon-pxl-tick-bold-green {
    width: 12px;
    height: 10px;
    background-position: -42px -264px;
}

.icon-pxl-tick-bold-white {
    width: 12px;
    height: 10px;
    background-position: -74px -264px;
}

.icon-pxl-tick-publish-gray {
    width: 18px;
    height: 14px;
    background-position: -106px -264px;
}

.icon-pxl-tick-publish-white {
    width: 18px;
    height: 14px;
    background-position: -258px -264px;
}

.icon-pxl-tick-publish-white {
    width: 18px;
    height: 14px;
    background-position: -296px -264px;
}

.icon-pxl-tick-thin-black {
    width: 15px;
    height: 10px;
    background-position: -334px -264px;
}

.icon-pxl-tick-thin-white {
    width: 15px;
    height: 10px;
    background-position: -491px -264px;
}

.icon-pxl-transport-mode-bike {
    width: 64px;
    height: 42px;
    background-position: -537px -10px;
}

.icon-pxl-transport-mode-bus {
    width: 42px;
    height: 42px;
    background-position: -539px -72px;
}

.icon-pxl-transport-mode-bycyle {
    width: 64px;
    height: 42px;
    background-position: -541px -134px;
}

.icon-pxl-transport-mode-car {
    width: 78px;
    height: 42px;
    background-position: -526px -264px;
}

.icon-pxl-trash-black {
    width: 12px;
    height: 14px;
    background-position: -529px -196px;
}

.icon-pxl-trash-gray {
    width: 12px;
    height: 14px;
    background-position: -561px -196px;
}

.icon-pxl-trash-popup {
    width: 13px;
    height: 14px;
    background-position: -529px -230px;
}

.icon-pxl-trash-red {
    width: 12px;
    height: 14px;
    background-position: -593px -196px;
}

.icon-pxl-trash-white {
    width: 12px;
    height: 14px;
    background-position: -562px -230px;
}

.icon-pxl-twitter-black {
    width: 17px;
    height: 13px;
    background-position: -506px -326px;
}

.icon-pxl-twitter-default {
    width: 19px;
    height: 16px;
    background-position: -543px -326px;
}

.icon-pxl-twitter-gray {
    width: 18px;
    height: 15px;
    background-position: -582px -326px;
}

.icon-pxl-twitter-social-gray {
    width: 17px;
    height: 13px;
    background-position: -506px -361px;
}

.icon-pxl-twitter-white {
    width: 18px;
    height: 15px;
    background-position: -582px -361px;
}

.icon-pxl-user-following-black {
    width: 16px;
    height: 18px;
    background-position: -501px -396px;
}

.icon-pxl-user-following-gray {
    width: 16px;
    height: 18px;
    background-position: -537px -396px;
}

.icon-pxl-user-invite-black {
    width: 20px;
    height: 18px;
    background-position: -573px -396px;
}