.icon-ex {
    display: inline-block;
    overflow: hidden;
    background-repeat: no-repeat;
    background-image: url(../images/sprite_images.png);
}

.ex-activity-grey {
    width: 23px;
    height: 24px;
    background-position: -840px -2px;
}

.ex-activity {
    width: 23px;
    height: 24px;
    background-position: -840px -28px;
}

.ex-comment-grey {
    width: 28px;
    height: 24px;
    background-position: -300px -80px;
}

.ex-comment {
    width: 28px;
    height: 24px;
    background-position: -270px -80px;
}

.ex-cross-popup-grey {
    width: 24px;
    height: 24px;
    background-position: -838px -54px;
}

.ex-cross-popup {
    width: 24px;
    height: 24px;
    background-position: -814px -28px;
}

.ex-cross-unfollow-grey {
    width: 24px;
    height: 24px;
    background-position: -812px -80px;
}

.ex-cross-unfollow {
    width: 24px;
    height: 24px;
    background-position: -814px -2px;
}

.ex-delete-grey {
    width: 21px;
    height: 24px;
    background-position: -865px -2px;
}

.ex-delete {
    width: 21px;
    height: 24px;
    background-position: -864px -54px;
}

.ex-drafts-cloud-grey {
    width: 32px;
    height: 24px;
    background-position: -112px -80px;
}

.ex-drafts-cloud {
    width: 32px;
    height: 24px;
    background-position: -78px -80px;
}

.ex-edit-grey {
    width: 24px;
    height: 24px;
    background-position: -812px -54px;
}

.ex-edit {
    width: 24px;
    height: 24px;
    background-position: -788px -28px;
}

.ex-facebook-tab-grey {
    width: 24px;
    height: 24px;
    background-position: -788px -2px;
}

.ex-facebook-tab {
    width: 24px;
    height: 24px;
    background-position: -786px -80px;
}

.ex-facebook-grey {
    width: 14px;
    height: 24px;
    background-position: -888px -2px;
}

.ex-facebook {
    width: 14px;
    height: 24px;
    background-position: -904px -2px;
}

.ex-following-grey {
    width: 23px;
    height: 24px;
    background-position: -838px -80px;
}

.ex-following {
    width: 23px;
    height: 24px;
    background-position: -863px -80px;
}

.ex-google-plus-grey {
    width: 24px;
    height: 24px;
    background-position: -786px -80px;
}

.ex-google-plus {
    width: 24px;
    height: 24px;
    background-position: -788px -2px;
}

.ex-help-grey {
    width: 24px;
    height: 24px;
    background-position: -762px -28px;
}

.ex-help {
    width: 24px;
    height: 24px;
    background-position: -786px -54px;
}

.ex-invite-grey {
    width: 27px;
    height: 24px;
    background-position: -359px -80px;
}

.ex-invite {
    width: 27px;
    height: 24px;
    background-position: -330px -80px;
}

.ex-like-grey {
    width: 28px;
    height: 24px;
    background-position: -240px -80px;
}

.ex-like {
    width: 28px;
    height: 24px;
    background-position: -210px -80px;
}


.ex-minus-grey {
    width: 24px;
    height: 24px;
    background-position: -762px -2px;
}

.ex-minus {
    width: 24px;
    height: 24px;
    background-position: -760px -80px;
}

.ex-new-roadtrip-grey {
    width: 24px;
    height: 24px;
    background-position: -736px -28px;
}

.ex-new-roadtrip {
    width: 24px;
    height: 24px;
    background-position: -760px -54px;
}

.ex-places-grey {
    width: 18px;
    height: 24px;
    background-position: -885px -28px;
}

.ex-places {
    width: 18px;
    height: 24px;
    background-position: -865px -28px;
}

.ex-plus-tab-grey {
    width: 24px;
    height: 24px;
    background-position: -734px -80px;
}

.ex-plus-tab {
    width: 24px;
    height: 24px;
    background-position: -736px -2px;
}

.ex-plus-grey {
    width: 24px;
    height: 24px;
    background-position: -734px -54px;
}

.ex-plus {
    width: 24px;
    height: 24px;
    background-position: -710px -28px;
}

.ex-roadtrips-grey {
    width: 26px;
    height: 24px;
    background-position: -444px -80px;
}

.ex-roadtrips {
    width: 26px;
    height: 24px;
    background-position: -472px -80px;
}

.ex-search-close-grey {
    width: 24px;
    height: 24px;
    background-position: -710px -2px;
}

.ex-search-close {
    width: 24px;
    height: 24px;
    background-position: -708px -79px;
}

.ex-search-default-grey {
    width: 24px;
    height: 24px;
    background-position: -682px -79px;
}

.ex-search-default {
    width: 24px;
    height: 24px;
    background-position: -656px -79px;
}

.ex-search-onclick-grey {
    width: 24px;
    height: 24px;
    background-position: -604px -79px;
}

.ex-search-onclick {
    width: 24px;
    height: 24px;
    background-position: -630px -79px;
}

.ex-social-globe-website-grey {
    width: 24px;
    height: 24px;
    background-position: -578px -79px;
}

.ex-social-globe-website {
    width: 24px;
    height: 24px;
    background-position: -552px -79px;
}

.ex-suggested-grey {
    width: 24px;
    height: 24px;
    background-position: -500px -80px;
}

.ex-suggested {
    width: 24px;
    height: 24px;
    background-position: -526px -79px;
}

.ex-tick-following-grey {
    width: 26px;
    height: 24px;
    background-position: -416px -80px;
}

.ex-tick-following {
    width: 26px;
    height: 24px;
    background-position: -388px -80px;
}

.ex-tick-popup-grey {
    width: 36px;
    height: 24px;
    background-position: -2px -80px;
}

.ex-tick-popup {
    width: 36px;
    height: 24px;
    background-position: -40px -80px;
}

.ex-twitter-tab-grey {
    width: 30px;
    height: 24px;
    background-position: -178px -80px;
}

.ex-twitter-tab {
    width: 30px;
    height: 24px;
    background-position: -146px -80px;
}

.ex-twitter-grey {
    width: 92px;
    height: 75px;
    background-position: -522px -2px;
}

.ex-twitter {
    width: 92px;
    height: 75px;
    background-position: -616px -2px;
}