.rm_icons {
  background-image: url(../images/spritesheet.png);
  background-repeat: no-repeat;
  display: block;
}

.rm_icons-Activity {
  width: 24px;
  height: 24px;
  background-position: -1px -1px;
}

.rm_icons-Comments {
  width: 28px;
  height: 24px;
  background-position: -27px -1px;
}

.rm_icons-cross-popup {
  width: 25px;
  height: 24px;
  background-position: -57px -1px;
}

.rm_icons-cross-unfollow {
  width: 24px;
  height: 24px;
  background-position: -84px -1px;
}

.rm_icons-delete {
  width: 21px;
  height: 24px;
  background-position: -110px -1px;
}

.rm_icons-drafts-cloud {
  width: 33px;
  height: 24px;
  background-position: -1px -27px;
}

.rm_icons-edit {
  width: 25px;
  height: 24px;
  background-position: -36px -27px;
}

.rm_icons-facebook {
  width: 14px;
  height: 24px;
  background-position: -63px -27px;
}

.rm_icons-facebook-tab {
  width: 24px;
  height: 24px;
  background-position: -79px -27px;
}

.rm_icons-following {
  width: 23px;
  height: 24px;
  background-position: -105px -27px;
}

.rm_icons-google-plus {
  width: 25px;
  height: 24px;
  background-position: -1px -53px;
}

.rm_icons-help {
  width: 24px;
  height: 24px;
  background-position: -28px -53px;
}

.rm_icons-invite {
  width: 27px;
  height: 24px;
  background-position: -54px -53px;
}

.rm_icons-like {
  width: 28px;
  height: 24px;
  background-position: -83px -53px;
}

.rm_icons-minus {
  width: 24px;
  height: 24px;
  background-position: -113px -53px;
}

.rm_icons-new-roadtrip {
  width: 24px;
  height: 24px;
  background-position: -1px -79px;
}

.rm_icons-places {
  width: 19px;
  height: 24px;
  background-position: -27px -79px;
}

.rm_icons-plus {
  width: 24px;
  height: 24px;
  background-position: -48px -79px;
}

.rm_icons-roadtrips {
  width: 26px;
  height: 24px;
  background-position: -74px -79px;
}

.rm_icons-search-close {
  width: 25px;
  height: 24px;
  background-position: -102px -79px;
}

.rm_icons-search-default {
  width: 24px;
  height: 24px;
  background-position: -1px -105px;
}

.rm_icons-search-onclick {
  width: 24px;
  height: 24px;
  background-position: -27px -105px;
}

.rm_icons-social-globe-website {
  width: 24px;
  height: 24px;
  background-position: -53px -105px;
}

.rm_icons-suggested {
  width: 24px;
  height: 24px;
  background-position: -79px -105px;
}

.rm_icons-tick-following {
  width: 26px;
  height: 24px;
  background-position: -105px -105px;
}

.rm_icons-tick-popup {
  width: 36px;
  height: 24px;
  background-position: -133px -1px;
}

.rm_icons-twitter-tab {
  width: 30px;
  height: 24px;
  background-position: -130px -27px;
}