.trip {
    background-image: url(../images/trip-spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.trip-featured-star {
    width: 23px;
    height: 24px;
    background-position: -1px -1px;
}

.trip-leaf {
    width: 28px;
    height: 28px;
    background-position: -26px -1px;
}

.trip-marker-red {
    width: 32px;
    height: 32px;
    background-position: -56px -1px;
}

.trip-marker-2 {
    width: 32px;
    height: 32px;
    background-position: -90px -1px;
}

.trip-milestone {
    width: 32px;
    height: 32px;
    background-position: -124px -1px;
}

.trip-milestone-add {
    width: 32px;
    height: 18px;
    background-position: -158px -1px;
}

.trip-modal-close {
    width: 26px;
    height: 26px;
    background-position: -192px -1px;
}

.trip-moment-add {
    width: 32px;
    height: 18px;
    background-position: -220px -1px;
}

.trip-moment-stay {
    &.active {
        width: 72px;
        height: 72px;
        background-position: -75px -177px;
    }
    width: 72px;
    height: 72px;
    background-position: -158px -29px;
}

.trip-moment-food {
    &.active {
        width: 72px;
        height: 72px;
        background-position: -149px -177px;
    }
    width: 72px;
    height: 72px;
    background-position: -1px -103px;
}

.trip-moment-see {
    &.active {
        width: 72px;
        height: 72px;
        background-position: -254px -1px;
    }
    width: 72px;
    height: 72px;
    background-position: -75px -103px;
}

.trip-moment-do {
    &.active {
        width: 72px;
        height: 72px;
        background-position: -232px -75px;
    }
    width: 72px;
    height: 72px;
    background-position: -149px -103px;
}

.trip-moment-experience {
    &.active {
        width: 72px;
        height: 72px;
        background-position: -223px -149px;
    }
    width: 72px;
    height: 72px;
    background-position: -1px -177px;
}

.trip-notification-close {
    width: 54px;
    height: 54px;
    background-position: -297px -149px;
}

.trip-photo {
    width: 32px;
    height: 32px;
    background-position: -306px -75px;
}

.trip-milestone-starred{
    width: 40px;
    height: 37px;
    background-position: -306px -109px;
}

.trip-transport-bus {
    width: 42px;
    height: 42px;
    background-position: -297px -205px;
}

.trip-transport-bike {
    width: 64px;
    height: 42px;
    background-position: -223px -223px;
}

.trip-transport-bycycle {
    width: 64px;
    height: 42px;
    background-position: -289px -249px;
}

.trip-transport-car {
    width: 78px;
    height: 42px;
    background-position: -1px -267px;
}