/* Elastislide Style */

.es-icon {
    background-image: url(../images/sprite.png);
    background-repeat: no-repeat;
    display: block;
}

.es-close {
    width: 28px;
    height: 23px;
    background-position: -5px -5px;
}

.es-next {
    
}

.es-prev {
   
}

.es-thumb-view {
    width: 16px;
    height: 16px;
    background-position: -43px -5px;
}

.es-header {
	background-color: #191919;
	min-height: 50px;
}
.es-nav {
	position: relative;
	/*top: -95px;*/
}
.es-carousel-wrapper{
	background: #101010;
	/*padding:10px 27px;*/
	/* -moz-border-radius: 10px;
	-webkit-border-radius: 10px; */
	/*border-radius: 10px;*/
	position:relative;
	/* -moz-box-shadow:0px 1px 3px rgba(0, 0, 0, 0.9);
	-webkit-box-shadow:0px 1px 3px rgba(0, 0, 0, 0.9);
	box-shadow:0px 1px 3px rgba(0, 0, 0, 0.9); */
	position:relative;
	/*margin-bottom:20px;*/
}
.es-carousel{
	overflow:hidden;
	background:#000;
}
.es-carousel ul{
	display:none;
}
.es-carousel ul li{
	height:100%;
	float:left;
	display:block;
}
.es-carousel ul li a{
	display:block;
	border-style:solid;
	border-color:#222;
	opacity:0.8;
	-webkit-touch-callout:none;
	/* option */
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.es-carousel ul li.selected a{
	border-color:#fff;
	opacity:1.0;
}
.es-carousel ul li a img{
	display:block;
	border:none;
	max-height:100%;
	max-width:100%;
}
.es-nav > span{
	position:absolute;
	/*top:50%;*/
	/*left:45%;*/
	text-indent:-9000px;
	cursor:pointer;
	opacity:0.8;
}
.es-nav span.es-nav-next {
	width: 20px;
    height: 16px;
    background-position: -5px -38px;
    top: -30px;
	right: 41%;
}
.es-nav span.es-nav-prev {
	width: 20px;
    height: 16px;
    background-position: -35px -38px;
    top: -30px;
	left: 40%;
}
.es-nav span.es-nav-thumb {
	width: 16px;
    height: 16px;
    background-position: -43px -5px;
    top: -30px;
    right: 50%;
}
.es-nav span.es-close {
	width: 28px;
	height: 23px;
	background-position: -5px -5px;
	top: -32px;
	right: 5px;
}
.es-photo-tag {
	display: inline-block;
	position: absolute;
	top: -32px;
	left: 15px;
}
.es-photo-tag, .es-count {
	font-family: proxima-nova;
	color:#fff ;
}

.es-count {
	position: absolute;
	top: -32px;
	right: 60px;
}

.es-nav span:hover{
	opacity:1.0;
}