/* line 1, ../scss/landing_sprites.scss */
.icon-ln {
  background-image: url(spritesheet.png);
  background-repeat: no-repeat;
  display: block;
}

/* line 7, ../scss/landing_sprites.scss */
.icon-ln-bubble-double {
  width: 32px;
  height: 32px;
  background-position: -2px -2px;
}

/* line 13, ../scss/landing_sprites.scss */
.icon-ln-compass {
  width: 32px;
  height: 32px;
  background-position: -38px -2px;
}

/* line 19, ../scss/landing_sprites.scss */
.icon-ln-fb {
  width: 9px;
  height: 17px;
  background-position: -2px -38px;
}

/* line 25, ../scss/landing_sprites.scss */
.icon-ln-gplus {
  width: 21px;
  height: 21px;
  background-position: -15px -38px;
}

/* line 31, ../scss/landing_sprites.scss */
.icon-ln-pin {
  width: 24px;
  height: 32px;
  background-position: -40px -38px;
}

/* line 37, ../scss/landing_sprites.scss */
.icon-ln-play-video {
  width: 19px;
  height: 19px;
  background-position: -74px -2px;
}

/* line 43, ../scss/landing_sprites.scss */
.icon-ln-search {
  width: 28px;
  height: 28px;
  background-position: -74px -25px;
}

/* line 49, ../scss/landing_sprites.scss */
.icon-ln-twitter-black {
  width: 16px;
  height: 13px;
  background-position: -68px -57px;
}

/* line 55, ../scss/landing_sprites.scss */
.icon-ln-twitter-white {
  width: 20px;
  height: 17px;
  background-position: -2px -74px;
}
